
@{
    ViewBag.Title = "招标进度--工程、服务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span id="userRole" class="hidden">
    @if (User.IsInRole("招标管理"))
    {
        @:招标管理
    }
</span>
<style>
    .bs-checkbox {
        vertical-align: middle;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>
<div class="modal fade" id="NewProgressModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">新建招标进度</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="NewProgressForm" method="post" enctype="multipart/form-data">
                            <input id="tbxProgressType" name="tbxProgressType" type="text" class="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ddlProgressTypeChild">类型：</label>
                                        <select id="ddlProgressTypeChild" name="ddlProgressTypeChild" class="form-control">
                                            <option value="工程类">工程类</option>
                                            <option value="劳保消防物资采购">劳保消防物资采购</option>
                                            <option value="服务类">服务类</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxProjectName">拟招标项目名称<span class="text-danger">(必填)</span></label>
                                        <input id="tbxProjectName" name="tbxProjectName" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxContractResponsiblePerson">合同签订部门项目责任人<span class="text-danger">(必填)</span></label>
                                        <input id="tbxContractResponsiblePerson" name="tbxContractResponsiblePerson" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnNewProgressSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditProgressModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">编辑招标进度</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-inline">
                        <form id="EditProgressForm" method="post" enctype="multipart/form-data">
                            <input id="tbxProgressIDEdit" name="tbxProgressIDEdit" type="text" class="hidden" />
                            <input id="tbxProgressTypeEdit" name="tbxProgressTypeEdit" type="text" class="hidden" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxProjectNameEdit">拟招标项目名称</label>
                                        <input id="tbxProjectNameEdit" name="tbxProjectNameEdit" class="form-control input-sm" placeholder="拟招标项目名称" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ddlProgressTypeChildEdit">类型</label>
                                        <select id="ddlProgressTypeChildEdit" name="ddlProgressTypeChildEdit" class="form-control input-sm">
                                            <option value="工程类">工程类</option>
                                            <option value="劳保消防物资采购">劳保消防物资采购</option>
                                            <option value="服务类">服务类</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxInvestPriceEdit">投资金额（万元）</label>
                                        <input id="tbxInvestPriceEdit" name="tbxInvestPriceEdit" class="form-control input-sm" placeholder="投资金额（万元）" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxProjectResponsiblePersonEdit">
                                            招标项目负责人
                                        </label>
                                        <span id="tbxProjectResponsiblePersonEdit" class="label label-success"></span>
                                        <label for="ddlProgressStateEdit">进度：</label>
                                        <select id="ddlProgressStateEdit" name="ddlProgressStateEdit" class="form-control">
                                            <option value="对接">对接</option>
                                            <option value="实施">实施</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxContractResponsiblePersonEdit">
                                            合同签订部门项目责任人
                                        </label>
                                        <input id="tbxContractResponsiblePersonEdit" name="tbxContractResponsiblePersonEdit" class="form-control input-sm" placeholder="合同签订部门项目责任人" />
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">项目前期对接进度</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxContractDeptContactDateEdit">
                                                    接到合同签订部门（电话或邮件）时间
                                                </label>
                                                <textarea id="tbxContractDeptContactDateEdit" name="tbxContractDeptContactDateEdit" class="form-control input-sm" rows="3" cols="50"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxProjectExplainEdit">
                                                    项目对接需说明情况
                                                </label>
                                                <textarea id="tbxProjectExplainEdit" name="tbxProjectExplainEdit" class="form-control input-sm" rows="3" cols="50"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="tbxTenderProgramAuditDateEdit">
                                                    招标方案联审时间
                                                </label>
                                                <input id="tbxTenderProgramAuditDateEdit" name="tbxTenderProgramAuditDateEdit" class="form-control input-sm progressDate" placeholder="招标方案接收时间" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">项目实施进度</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="tbxProgramAcceptDateEdit">
                                                    招标方案接收时间
                                                </label>
                                                <input id="tbxProgramAcceptDateEdit" name="tbxProgramAcceptDateEdit" class="form-control input-sm progressDate" placeholder="招标方案接收时间" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxTenderFileSaleStartDateEdit">
                                                    发售招标文件开始日期
                                                </label>
                                                <input id="tbxTenderFileSaleStartDateEdit" name="tbxTenderFileSaleStartDateEdit" class="form-control input-sm progressDateTime" placeholder="发售招标文件开始日期" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxTenderFileSaleEndDateEdit">
                                                    发售招标文件截止日期
                                                </label>
                                                <input id="tbxTenderFileSaleEndDateEdit" name="tbxTenderFileSaleEndDateEdit" class="form-control input-sm progressDateTime" placeholder="发售招标文件截止日期" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxTenderStartDateEdit">
                                                    开标日期
                                                </label>
                                                <input id="tbxTenderStartDateEdit" name="tbxTenderStartDateEdit" class="form-control input-sm progressDateTime" placeholder="开标日期" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tbxTenderSuccessFileDateEdit">
                                                    中标通知书发出时间
                                                </label>
                                                <input id="tbxTenderSuccessFileDateEdit" name="tbxTenderSuccessFileDateEdit" class="form-control input-sm progressDate" placeholder="中标通知书发出时间" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxOtherExplainEdit">
                                            其他需说明情况
                                        </label>
                                        <textarea id="tbxOtherExplainEdit" name="tbxOtherExplainEdit" class="form-control input-sm" rows="3" cols="40"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxRemarkEdit">
                                            备注
                                        </label>
                                        <textarea id="tbxRemarkEdit" name="tbxRemarkEdit" class="form-control input-sm" rows="3" cols="40"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnDelProgressSubmit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" id="btnEditProgressSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectMaterialAccountModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">选择招标台账--同步数据</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    已选择招标进度信息
                                </div>
                                <div class="panel-body">
                                    <span id="lblProgressInfoID"></span>
                                    拟招标项目名称或物资名称：【<span id="lblProjectName"></span>】
                                    <br />
                                    类型：【<span id="lblProgressTypeChild"></span>】
                                    <br />
                                    招标项目负责人：【<span id="lblProjectResponsiblePersonName"></span>】
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    选择要同步的招标台账信息
                                </div>
                                <div class="panel-body">
                                    <table id="bsTableSelectAccount"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnSelectAccountSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">招标进度--工程、服务</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Partial("SearchInfoProject", ViewData["type"] = "工程")
        <hr />
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("新建招标进度"))
                {
                    <div id="toolbar" class="btn-group">
                        <button id="btnAdd" type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                        </button>
                    </div>
                }
                @Html.Partial("TableInfoProject")
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function ClearInfo() {
            $("#tbxContractResponsiblePerson,#tbxProjectName").val("");
        }

        $(".progressDate").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });
        $(".progressDateTime").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: true,
            minView: 0,
            forceParse: 0,
            format: 'yyyy-mm-dd hh:ii'
        });

        //新增按钮
        $("#btnAdd").click(function () {
            ClearInfo();
            $('#NewProgressModal').modal('show');
            $("#tbxProgressType").val($("#typeSearch").text());
        });

        //对NewProgressForm表单进行前端验证
        var validNewProgressForm = $("#NewProgressForm").validate({
            rules: {
                tbxContractResponsiblePerson: { required: true, maxlength: 100 },
                tbxProjectName: { required: true, maxlength: 100 }
            }
        });

        //对EditProgressForm表单进行前端验证
        var validEditProgressForm = $("#EditProgressForm").validate({
            rules: {
                tbxContractResponsiblePersonEdit: { required: true, maxlength: 100 },
                tbxProjectNameEdit: { required: true, maxlength: 100 }
            }
        });

        //新增进度提交
        $("#btnNewProgressSubmit").click(function () {
            if (validNewProgressForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#NewProgressForm").ajaxSubmit({
                            url: "/ProgressInfo/Insert",
                            type: "post",
                            success: function (result) {
                                if (result == "ok") {
                                    $("#NewProgressModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            };
        });

        //修改进度提交
        $("#btnEditProgressSubmit").click(function () {
            if (validEditProgressForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#EditProgressForm").ajaxSubmit({
                            url: "/ProgressInfo/Update",
                            type: "post",
                            success: function (result) {
                                if (result == "ok") {
                                    $("#EditProgressModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            };
        });

        //删除进度提交
        $("#btnDelProgressSubmit").click(function () {
            Ewin.confirm({ message: "确定要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $.post("/ProgressInfo/Del", { "id": $("#tbxProgressIDEdit").val() }, function (result) {
                        if (result == "ok") {
                            $("#EditProgressModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            toastr.error(result, "提示");
                        }
                    });
                }
            });
        });

        //同步台账信息提交
        $("#btnSelectAccountSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var selectInfo = $('#bsTableSelectAccount').bootstrapTable('getSelections');
                    var accountID = selectInfo[0].AccountID;
                    var progressID = $("#lblProgressInfoID").text();
                    $.post("/Account/UpdateProgress", { "accountID": accountID, "progressID": progressID },
                        function (data, textStatus, jqXHR) {
                            if (data === "ok") {
                                $("#selectMaterialAccountModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                        }
                    );
                }
            });
        });
    });
</script>