<table id="bsTable"></table>
<script>
    $(function () {
        var operateEvents = {
            'click .editProgress': function (e, value, row, index) {
                $("#EditProgressModal").modal("show");

                $("#tbxProgressIDEdit").val(row.ProgressInfoID);
                $("#tbxProgressTypeEdit").val($("#typeSearch").text());

                $("#tbxProjectNameEdit").val(row.ProjectName);
                $("#ddlProgressTypeChildEdit").val(row.ProgressTypeChild);
                $("#tbxInvestPriceEdit").val(row.InvestPrice);
                $("#tbxMaterialCountEdit").val(row.MaterialCount);
                $("#tbxProjectResponsiblePersonEdit").val(row.ProjectResponsiblePersonName);
                $("#tbxContractResponsiblePersonEdit").val(row.ContractResponsiblePerson);

                $("#tbxTechnicalSpecificationAddDateEdit").val(row.TechnicalSpecificationAddDate);
                $("#tbxTechnicalSpecificationExplainEdit").val(row.TechnicalSpecificationExplain);
                $("#tbxTechnicalSpecificationApproveDateEdit").val(row.TechnicalSpecificationApproveDate==null?"":getJsonDateShort(row.TechnicalSpecificationApproveDate));
                $("#tbxSynthesizeEvaluationRuleApproveDateEdit").val(row.SynthesizeEvaluationRuleApproveDate==null?"":getJsonDateShort(row.SynthesizeEvaluationRuleApproveDate));
                $("#tbxTenderProgramAuditDateEdit").val(row.TenderProgramAuditDate==null?"":getJsonDateShort(row.TenderProgramAuditDate));

                $("#tbxProgramAcceptDateEdit").val(row.ProgramAcceptDate==null?"":getJsonDateShort(row.ProgramAcceptDate));
                $("#tbxTenderFileSaleStartDateEdit").val(row.TenderFileSaleStartDate==null?"":getJsonDateShort(row.TenderFileSaleStartDate));
                $("#tbxTenderFileSaleEndDateEdit").val(row.TenderFileSaleEndDate==null?"":getJsonDateShort(row.TenderFileSaleEndDate));
                $("#tbxTenderStartDateEdit").val(row.TenderStartDate==null?"":getJsonDateShort(row.TenderStartDate));
                $("#tbxTenderSuccessFileDateEdit").val(row.TenderSuccessFileDate==null?"":getJsonDateShort(row.TenderSuccessFileDate));

                $("#tbxOtherExplainEdit").val(row.OtherExplain);
                $("#tbxRemarkEdit").val(row.Remark);
            }
        };

        function loadColumns() {
            var tempArray = [
                [
                    {
                        title: '序号',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        width: 45,
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        field: 'ProgressTypeChild',
                        title: '类型',
                        rowspan: 2,
                        colspan: 1,
                        width: 45,
                        height: 81,
                        //switchable: false,
                        valign: "middle",
                        visible: true
                    },
                    {
                        field: 'ProjectName',
                        title: '拟招标项目名称或物资名称',
                        rowspan: 2,
                        colspan: 1,
                        width: 185,
                        valign: "middle",
                        visible: true,
                        formatter: function (value, row, index) {
                            return '<a class="editProgress" href="javascript:void (0)" title="编辑">' + value + '</a>';
                        },
                        events: operateEvents
                    },
                    {
                        field: 'IsOver',
                        title: '是否已完成',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: false
                    },
                    {
                        field: 'InvestPrice',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '投资金额（万元）'
                    },
                    {
                        field: 'ProjectResponsiblePersonName',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '招标项目负责人'
                    },
                    {
                        field: 'ContractResponsiblePerson',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '合同签订部门项目责任人'
                    },
                    {
                        field: 'MaterialCount',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '物资数量'
                    },
                    {
                        title: '项目前期对接进度',
                        colspan: 5,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        title: '项目实施进度',
                        colspan: 5,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        field: 'OtherExplain',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '其他需说明情况'
                    },
                    {
                        field: 'Remark',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '备注'
                    }
                ],
                [
                    {
                        field: 'TechnicalSpecificationAddDate',
                        valign: "middle",
                        title: '技术规格书（技术文件、图纸等）提报时间'
                    },
                    {
                        field: 'TechnicalSpecificationExplain',
                        valign: "middle",
                        title: '技术规格书（技术文件、图纸等）对接需说明情况'
                    },
                    {
                        field: 'TechnicalSpecificationApproveDate',
                        valign: "middle",
                        title: '技术规格书（技术文件、图纸等）定稿时间'
                    },
                    {
                        field: 'SynthesizeEvaluationRuleApproveDate',
                        valign: "middle",
                        title: '综合法评标标准定稿时间'
                    },
                    {
                        field: 'TenderProgramAuditDate',
                        valign: "middle",
                        title: '招标方案联审时间'
                    },
                    {
                        field: 'ProgramAcceptDate',
                        valign: "middle",
                        title: '招标方案接收时间'
                    },
                    {
                        field: 'TenderFileSaleStartDate',
                        valign: "middle",
                        title: '发售招标文件开始日期'
                    },
                    {
                        field: 'TenderFileSaleEndDate',
                        valign: "middle",
                        title: '发售招标文件截止日期'
                    },
                    {
                        field: 'TenderStartDate',
                        valign: "middle",
                        title: '开标日期'
                    },
                    {
                        field: 'TenderSuccessFileDate',
                        valign: "middle",
                        title: '中标通知书发出时间'
                    }
                ]
            ];
            return tempArray;
        };
        function loadColumns2() {
            var tempArray = [
                [
                    {
                        title: '',
                        colspan: 7,
                        align: "center"
                    },
                    {
                        title: '项目前期对接进度',
                        colspan: 5,
                        align: "center"
                    },
                    {
                        title: '项目实施进度',
                        colspan: 5,
                        align: "center"
                    },
                    {
                        title: '',
                        colspan: 2,
                        align: "center"
                    }
                ],
                [
                    {
                        title: '序号',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        field: 'ProgressInfoID',
                        title: '数据ID',
                        valign: "middle",
                        visible: false
                    },
                    {
                        field: 'ProgressTypeChild',
                        title: '类型',
                        valign: "middle",
                        visible: true
                    },
                    {
                        field: 'ProjectName',
                        title: '拟招标项目名称或物资名称',
                        valign: "middle",
                        visible: true
                    },
                    {
                        field: 'IsOver',
                        title: '是否已完成',
                        valign: "middle",
                        visible: false
                    },
                    {
                        field: 'InvestPrice',
                        valign: "middle",
                        title: '投资金额（万元）'
                    },
                    {
                        field: 'ProjectResponsiblePerson',
                        valign: "middle",
                        title: '招标项目负责人'
                    },
                    {
                        field: 'ContractResponsiblePerson',
                        valign: "middle",
                        title: '合同签订部门项目责任人'
                    },
                    {
                        field: 'MaterialCount',
                        valign: "middle",
                        title: '物资数量'
                    },
                    {
                        field: 'TechnicalSpecificationAddDate',
                        title: '技术规格书（技术文件、图纸等）提报时间'
                    },
                    {
                        field: 'TechnicalSpecificationExplain',
                        title: '技术规格书（技术文件、图纸等）对接需说明情况'
                    },
                    {
                        field: 'TechnicalSpecificationApproveDate',
                        title: '技术规格书（技术文件、图纸等）定稿时间'
                    },
                    {
                        field: 'SynthesizeEvaluationRuleApproveDate',
                        title: '综合法评标标准定稿时间'
                    },
                    {
                        field: 'TenderProgramAuditDate',
                        title: '招标方案联审时间'
                    },
                    {
                        field: 'ProgramAcceptDate',
                        title: '招标方案接收时间'
                    },
                    {
                        field: 'TenderFileSaleStartDate',
                        title: '发售招标文件开始日期'
                    },
                    {
                        field: 'TenderFileSaleEndDate',
                        title: '发售招标文件截止日期'
                    },
                    {
                        field: 'TenderStartDate',
                        title: '开标日期'
                    },
                    {
                        field: 'TenderSuccessFileDate',
                        title: '中标通知书发出时间'
                    },
                    {
                        field: 'OtherExplain',
                        valign: "middle",
                        title: '其他需说明情况'
                    },
                    {
                        field: 'Remark',
                        valign: "middle",
                        title: '备注'
                    }
                ]
            ];
            return tempArray;
        };

        function loadColumns3() {
            var tempArray = [
                {
                    title: '序号',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'ProgressInfoID',
                    title: '数据ID',
                    valign: "middle",
                    visible: false
                },
                {
                    field: 'ProgressTypeChild',
                    title: '类型',
                    valign: "middle",
                    visible: true
                },
                {
                    field: 'ProjectName',
                    title: '拟招标项目名称或物资名称',
                    valign: "middle",
                    visible: true,
                    formatter: function (value, row, index) {
                        return '<a class="editProgress" href="javascript:void (0)" title="编辑">' + value + '</a>';
                    },
                    events: operateEvents
                },
                {
                    field: 'IsOver',
                    title: '是否已完成',
                    valign: "middle",
                    visible: false
                },
                {
                    field: 'InvestPrice',
                    valign: "middle",
                    title: '投资金额（万元）'
                },
                {
                    field: 'ProjectResponsiblePerson',
                    valign: "middle",
                    title: '招标项目负责人'
                },
                {
                    field: 'ContractResponsiblePerson',
                    valign: "middle",
                    title: '合同签订部门项目责任人'
                },
                {
                    field: 'MaterialCount',
                    valign: "middle",
                    title: '物资数量'
                },
                {
                    field: 'TechnicalSpecificationAddDate',
                    title: '技术规格书（技术文件、图纸等）提报时间'
                },
                {
                    field: 'TechnicalSpecificationExplain',
                    title: '技术规格书（技术文件、图纸等）对接需说明情况'
                },
                {
                    field: 'TechnicalSpecificationApproveDate',
                    title: '技术规格书（技术文件、图纸等）定稿时间'
                },
                {
                    field: 'SynthesizeEvaluationRuleApproveDate',
                    title: '综合法评标标准定稿时间'
                },
                {
                    field: 'TenderProgramAuditDate',
                    title: '招标方案联审时间'
                },
                {
                    field: 'ProgramAcceptDate',
                    title: '招标方案接收时间'
                },
                {
                    field: 'TenderFileSaleStartDate',
                    title: '发售招标文件开始日期'
                },
                {
                    field: 'TenderFileSaleEndDate',
                    title: '发售招标文件截止日期'
                },
                {
                    field: 'TenderStartDate',
                    title: '开标日期'
                },
                {
                    field: 'TenderSuccessFileDate',
                    title: '中标通知书发出时间'
                },
                {
                    field: 'OtherExplain',
                    valign: "middle",
                    title: '其他需说明情况'
                },
                {
                    field: 'Remark',
                    valign: "middle",
                    title: '备注'
                }
            ];
            return tempArray;
        };

        var columns = loadColumns();

        //初始化BS-Table
        $('#bsTable').bootstrapTable({
            url: '/ProgressInfo/GetList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,           //传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ProgressInfoID",          //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns,
            //fixedColumns: true,
            //fixedNumber: 3
        })
            .on('all.bs.table', function (e, name, args) {
                $('[data-toggle="tooltip"]').tooltip();
            });
    });
</script>
