<link href="~/Content/bootstrap-table-fixed-columns2.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table-fixed-columns2.js"></script>
<div class="table-responsive" style="z-index: 1;">
    <table id="bsTable" class="text-nowrap" style="word-break:break-all;"></table>
</div>
<script>
    var editModel = function (id) {
        //根据当前行的id获取当前的行数据
        var row = $("#bsTable").bootstrapTable('getRowByUniqueId', id);
        $("#EditProgressModal").modal("show");

        $("#tbxProgressIDEdit").val(row.ProgressInfoID);
        $("#tbxProgressTypeEdit").val($("#typeSearch").text());

        $("#tbxProjectNameEdit").val(row.ProjectName);
        $("#ddlProgressTypeChildEdit").val(row.ProgressTypeChild);
        $("#ddlProgressStateEdit").val(row.ProgressState);
        $("#tbxInvestPriceEdit").val(row.InvestPrice);
        $("#tbxProjectResponsiblePersonEdit").text(row.ProjectResponsiblePersonName);
        $("#tbxContractResponsiblePersonEdit").val(row.ContractResponsiblePerson);

        $("#tbxContractDeptContactDateEdit").val(row.ContractDeptContactDate);
        $("#tbxProjectExplainEdit").val(row.ProjectExplain);
        $("#tbxTenderProgramAuditDateEdit").val(row.TenderProgramAuditDate == null ? "" : getJsonDateShort(row.TenderProgramAuditDate));

        $("#tbxProgramAcceptDateEdit").val(row.ProgramAcceptDate == null ? "" : getJsonDateShort(row.ProgramAcceptDate));
        $("#tbxTenderFileSaleStartDateEdit").val(row.TenderFileSaleStartDate == null ? "" : getJsonDateTimeMinute(row.TenderFileSaleStartDate));
        $("#tbxTenderFileSaleEndDateEdit").val(row.TenderFileSaleEndDate == null ? "" : getJsonDateTimeMinute(row.TenderFileSaleEndDate));
        $("#tbxTenderStartDateEdit").val(row.TenderStartDate == null ? "" : getJsonDateTimeMinute(row.TenderStartDate));
        $("#tbxTenderSuccessFileDateEdit").val(row.TenderSuccessFileDate == null ? "" : getJsonDateShort(row.TenderSuccessFileDate));

        $("#tbxOtherExplainEdit").val(row.OtherExplain);
        $("#tbxRemarkEdit").val(row.Remark);

        $.post("/ProgressInfo/CheckEdit", { "id": id }, function (result) {
            if (result !== "ok") {
                $("#btnEditProgressSubmit,#btnDelProgressSubmit,#btnEditProgressSave").hide();
            }
            else {
                $("#btnEditProgressSubmit,#btnDelProgressSubmit,#btnEditProgressSave").show();
            }
        });
    };
    var selectModel = function (id) {
        $.post("/ProgressInfo/CheckEdit", { "id": id }, function (result) {
            if (result !== "ok") {
                toastr.error("没有操作权限！", "提示");
            }
            else {
                //根据当前行的id获取当前的行数据
                var row = $("#bsTable").bootstrapTable('getRowByUniqueId', id);
                $("#selectMaterialAccountModal").modal("show");
                $("#lblProgressInfoID").text(row.ProgressInfoID);
                $("#lblProjectName").text(row.ProjectName);
                $("#lblProgressTypeChild").text(row.ProgressTypeChild);
                $("#lblProjectResponsiblePersonName").text(row.ProjectResponsiblePersonName);

                //初始化BS-Table
                $('#bsTableSelectAccount').bootstrapTable({
                    url: '/Account/GetAccountListForSelect',         //请求后台的URL（*）
                    contentType: 'application/x-www-form-urlencoded',
                    method: 'post',                     //请求方式（*）
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: false,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: false,                //是否启用点击选中行
                    queryParams: function (params) {
                        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                            accountType: row.ProgressType    //进度类型
                        };
                        return temp;
                    },
                    //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "AccountID",          //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    paginationPreText: "上一页",
                    paginationNextText: "下一页",
                    showExport: false,                     //是否显示导出
                    columns: [
                        {
                            radio: true,
                            valign: "middle"
                        },
                        {
                            title: '序号',
                            valign: "middle",
                            align: "center",
                            width: 45,
                            formatter: function (value, row, index) {
                                return index + 1;
                            }
                        },
                        {
                            field: 'ProjectName',
                            title: '项目名称',
                            valign: "middle",
                            visible: true
                        },
                        {
                            field: 'TenderFileNum',
                            title: '项目文件编号',
                            valign: "middle",
                            visible: true
                        },
                        {
                            field: 'IsOnline',
                            title: '线上/线下',
                            valign: "middle"
                        },
                        {
                            field: 'ProjectResponsiblePersonName',
                            valign: "middle",
                            title: '招标项目负责人'
                        }
                    ]
                });
            }
        });
    };
    var DelSynchro = function (id) {
        $.post("/ProgressInfo/CheckEdit", { "id": id }, function (result) {
            if (result !== "ok") {
                toastr.error("没有操作权限！", "提示");
            }
            else {
                //根据当前行的id获取当前的行数据
                var row = $("#bsTable").bootstrapTable('getRowByUniqueId', id);
                var progressID = row.ProgressInfoID;
                var args = { "progressID": progressID };
                var accountName = "";
                $.post("/Account/GetAccountNameByProgressID", encodeURIComponent(JSON.stringify(args)), function (result) {
                    accountName = result;
                    Ewin.confirm({ message: "确认要删除与台账【" + accountName + "】的数据同步关系吗？" }).on(function (e) {
                        if (!e) {
                            return;
                        }
                        else {
                            $.post("/Account/DelSynchroByProgressID", { "progressID": progressID }, function (result) {
                                if (result === "ok") {
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                            });
                        }
                    });
                });
            }
        });
    };

    $(function () {
        function loadColumns() {
            var tempArray1 = [
                [
                    {
                        title: '序号',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        width: 45,
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        title: '台账同步',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: true,
                        formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                            if (row.IsSynchro === "是") {
                                return '<button type="button" onclick="DelSynchro(' + row.ProgressInfoID + ')" class="btn btn-link">取消</button >';
                            }
                            else {
                                return '<button type="button" onclick="selectModel(' + row.ProgressInfoID + ')" class="btn btn-link">选择</button >';
                            }
                        }
                    },
                    {
                        field: 'ProgressTypeChild',
                        title: '类型',
                        rowspan: 2,
                        colspan: 1,
                        //width: 45,
                        width: 100,
                        //height: 81,
                        switchable: false,
                        valign: "middle",
                        visible: true
                    },
                    {
                        field: 'ProjectName',
                        title: '拟招标项目名称',
                        rowspan: 2,
                        colspan: 1,
                        width: 185,
                        valign: "middle",
                        visible: true,
                        formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                            var html = '<button type="button" onclick="editModel(' + row.ProgressInfoID + ')" class="btn btn-link">' + row.ProjectName + '</button >';
                            return html;
                        }
                    },
                    {
                        field: 'IsOver',
                        title: '是否已完成',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: false
                    },
                    {
                        field: 'ProgressState',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '进度'
                    },
                    {
                        field: 'InvestPrice',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '投资金额（万元）'
                    },
                    {
                        field: 'ProjectResponsiblePersonName',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '招标项目负责人'
                    },
                    {
                        field: 'ContractResponsiblePerson',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '合同签订部门项目责任人'
                    },
                    {
                        title: '项目前期对接进度',
                        colspan: 3,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        title: '项目实施进度',
                        colspan: 5,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        field: 'OtherExplain',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: false,
                        title: '其他需说明情况'
                    },
                    {
                        field: 'Remark',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '备注',
                        visible: false
                    }
                ],
                [
                    {
                        field: 'ContractDeptContactDate',
                        valign: "middle",
                        title: '接到合同签订部门（电话或邮件）时间'
                    },
                    {
                        field: 'ProjectExplain',
                        valign: "middle",
                        title: '项目对接需说明情况'
                    },
                    {
                        field: 'TenderProgramAuditDate',
                        valign: "middle",
                        title: '招标方案联审时间',
                        formatter: function (value, row, index) {
                            return getJsonDateShort(row.TenderProgramAuditDate);
                        }
                    },
                    {
                        field: 'ProgramAcceptDate',
                        valign: "middle",
                        title: '招标方案接收时间',
                        formatter: function (value, row, index) {
                            return getJsonDateShort(row.ProgramAcceptDate);
                        }
                    },
                    {
                        field: 'TenderFileSaleStartDate',
                        valign: "middle",
                        title: '发售招标文件开始日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderFileSaleStartDate);
                        }
                    },
                    {
                        field: 'TenderFileSaleEndDate',
                        valign: "middle",
                        title: '发售招标文件截止日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderFileSaleEndDate);
                        }
                    },
                    {
                        field: 'TenderStartDate',
                        valign: "middle",
                        title: '开标日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderStartDate);
                        }
                    },
                    {
                        field: 'TenderSuccessFileDate',
                        valign: "middle",
                        title: '中标通知书发出时间',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "";
                            }
                            else {
                                var milliseconds = parseInt(value.replace(/\D/igm, ""));
                                var date = new Date(milliseconds);
                                var month = (date.getMonth() + 1);
                                return date.getFullYear() + '-' + (month < 10 ? "0" + month : month) + '-' + (date.getDate() < 10 ? ("0" + date.getDate()) : date.getDate());
                            }
                        }
                    }
                ]
            ];
            var tempArray2 = [
                [
                    {
                        title: '序号',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        width: 45,
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        field: 'ProgressTypeChild',
                        title: '类型',
                        rowspan: 2,
                        colspan: 1,
                        //width: 45,
                        width: 100,
                        //height: 81,
                        switchable: false,
                        valign: "middle",
                        visible: true
                    },
                    {
                        field: 'ProjectName',
                        title: '拟招标项目名称',
                        rowspan: 2,
                        colspan: 1,
                        width: 185,
                        valign: "middle",
                        visible: true,
                        formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                            var html = '<button type="button" onclick="editModel(' + row.ProgressInfoID + ')" class="btn btn-link">' + row.ProjectName + '</button >';
                            return html;
                        }
                    },
                    {
                        field: 'IsOver',
                        title: '是否已完成',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: false
                    },
                    {
                        field: 'ProgressState',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '进度'
                    },
                    {
                        field: 'InvestPrice',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '投资金额（万元）'
                    },
                    {
                        field: 'ProjectResponsiblePersonName',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '招标项目负责人'
                    },
                    {
                        field: 'ContractResponsiblePerson',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '合同签订部门项目责任人'
                    },
                    {
                        title: '项目前期对接进度',
                        colspan: 3,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        title: '项目实施进度',
                        colspan: 5,
                        rowspan: 1,
                        align: "center"
                    },
                    {
                        field: 'OtherExplain',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        visible: false,
                        title: '其他需说明情况'
                    },
                    {
                        field: 'Remark',
                        rowspan: 2,
                        colspan: 1,
                        valign: "middle",
                        title: '备注',
                        visible: false
                    }
                ],
                [
                    {
                        field: 'ContractDeptContactDate',
                        valign: "middle",
                        title: '接到合同签订部门（电话或邮件）时间'
                    },
                    {
                        field: 'ProjectExplain',
                        valign: "middle",
                        title: '项目对接需说明情况'
                    },
                    {
                        field: 'TenderProgramAuditDate',
                        valign: "middle",
                        title: '招标方案联审时间',
                        formatter: function (value, row, index) {
                            return getJsonDateShort(row.TenderProgramAuditDate);
                        }
                    },
                    {
                        field: 'ProgramAcceptDate',
                        valign: "middle",
                        title: '招标方案接收时间',
                        formatter: function (value, row, index) {
                            return getJsonDateShort(row.ProgramAcceptDate);
                        }
                    },
                    {
                        field: 'TenderFileSaleStartDate',
                        valign: "middle",
                        title: '发售招标文件开始日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderFileSaleStartDate);
                        }
                    },
                    {
                        field: 'TenderFileSaleEndDate',
                        valign: "middle",
                        title: '发售招标文件截止日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderFileSaleEndDate);
                        }
                    },
                    {
                        field: 'TenderStartDate',
                        valign: "middle",
                        title: '开标日期',
                        formatter: function (value, row, index) {
                            return getJsonDateTimeMinute(row.TenderStartDate);
                        }
                    },
                    {
                        field: 'TenderSuccessFileDate',
                        valign: "middle",
                        title: '中标通知书发出时间',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "";
                            }
                            else {
                                var milliseconds = parseInt(value.replace(/\D/igm, ""));
                                var date = new Date(milliseconds);
                                var month = (date.getMonth() + 1);
                                return date.getFullYear() + '-' + (month < 10 ? "0" + month : month) + '-' + (date.getDate() < 10 ? ("0" + date.getDate()) : date.getDate());
                            }
                        }
                    }
                ]
            ];
            if ($("#userRole").text().trim() === "招标管理") {
                return tempArray1;
            }
            else {
                return tempArray2;
            }

        };

        var columns = loadColumns();

        //初始化BS-Table
        $('#bsTable').bootstrapTable({
            url: '/ProgressInfo/GetList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,           //传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ProgressInfoID",           //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            rowStyle: function (row, index) {
                if (row.ProgressState === "对接") {
                    return { classes: "warning" };
                }
                else {
                    if (row.ProgressState === "终止") {
                        return { classes: "danger" };
                    }
                    else {
                        return { classes: "success" };
                    }
                }
            },
            fixedColumns: true,
            fixedNumber: 3,
            columns: columns
        })
            .on('all.bs.table', function (e, name, args) {
                $('[data-toggle="tooltip"]').tooltip();
            });
    });
</script>
