@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-danger"><b>您的浏览器版本过低！</b></h1>
                <br />
                <h1>请使用IE9以上版本或Google Chrome浏览器登录本系统</h1>
                <hr />
                <h1>xp系统可下载<a class="btn btn-lg btn-success" href="http://10.61.120.56/list.asp?id=2208" target="_blank">Google Chrome浏览器下载地址</a></h1>
                <hr />
                <h1>win7系统:<a class="btn btn-lg btn-default" href="http://10.61.120.56/list.asp?id=3094" target="_blank">Internet Explorer 9浏览器下载地址</a></h1>
                <h1>win7系统:<a class="btn btn-lg btn-default" href="http://10.61.120.56/list.asp?id=4783" target="_blank">Internet Explorer 11浏览器下载地址</a></h1>
                <h1>win7系统:<a class="btn btn-lg btn-default" href="http://10.61.120.56/list.asp?id=3960" target="_blank">Google Chrome浏览器下载地址</a></h1>
                <hr />
                @*<a class="btn btn-primary btn-lg" href="~/Template/物资质量反馈系统使用说明（1.0）.pdf">物资质量反馈系统使用说明(1.0)</a>*@

                <hr />
                <h1>请更换浏览器后重新登录系统！使用IE浏览器时，请关闭兼容模式！</h1>
                <hr />
            </div>
        </div>
    </div>
</body>
</html>
