
@{
    ViewBag.Title = "系统主页--测试系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统主页</h2>

<ul>
    <li>
        <h3>
            A、招标进度
            1、删除同步功能
            2、工程、服务台账同步
            3、报表导出
        </h3>
    </li>
    <li>
        <h3>
            B、招标台账
            1、报表导出
            2、浏览器兼容性测试
        </h3>
    </li>
    <li>
        <h3>
            C、技术规格书审批
            1、技术规格书回退后，重新上传
            2、技术规格书查询
            3、数据同步
            4、文件合并
        </h3>
    </li>
    <li>
        <h3>
            D、其他
            1、帮助文档
            2、招标系统主页
            3、系统权限划分
            4、
        </h3>
    </li>
</ul>