@{
    ViewBag.Title = "会议室预订";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/Home/GoTo1096"></iframe>
</div>
