
@{
    ViewBag.Title = "权限管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <form id="formInfo">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">权限信息</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="tbxName">权限名称(*)</label>
                                        <input type="text" class="form-control" name="tbxName" id="tbxName" placeholder="权限名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="ddlType">权限类别(*)</label>
                                        <select id="ddlType" class="form-control">
                                            <option value="菜单">菜单</option>
                                            <option value="操作">操作</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxMenuName">菜单名称(*)</label>
                                        <input type="text" class="form-control" value="0" name="tbxMenuName" id="tbxMenuName" placeholder="菜单名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxMenuIcon">菜单图标(*)</label>
                                        <input type="text" class="form-control" value="0" name="tbxMenuIcon" id="tbxMenuIcon" placeholder="菜单图标">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxMenuFatherName">上级菜单ID(*)</label>
                                        <input type="text" class="form-control" value="0" name="tbxMenuFatherName" id="tbxMenuFatherName" placeholder="上级菜单">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxMenuUrl">链接地址</label>
                                        <input type="text" class="form-control" value="/Home/Index" name="tbxMenuUrl" id="tbxMenuUrl" placeholder="链接地址">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxMenuOrder">顺序码</label>
                                        <input type="text" class="form-control" value="0" name="tbxMenuOrder" id="tbxMenuOrder" placeholder="顺序码">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxDescribe">权限描述</label>
                                        <input type="text" class="form-control" name="tbxDescribe" id="tbxDescribe" placeholder="权限描述">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxConflictCode">互斥编码</label>
                                        <input type="text" class="form-control" name="tbxConflictCode" id="tbxConflictCode" placeholder="互斥编码">
                                    </div>

                                    <span id="AuthorityID"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">权限信息管理</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="tbxAuthorityNameSearch">权限名称：</label>
                        <input type="text" class="form-control" id="tbxAuthorityNameSearch" placeholder="权限名称">
                    </div>
                    <div class="form-group">
                        <label for="ddlAuthorityTypeSearch">权限类别：</label>
                        <select id="ddlAuthorityTypeSearch" class="form-control">
                            <option value="">全部</option>
                            <option value="菜单">菜单</option>
                            <option value="操作">操作</option>
                        </select>
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-info">查询</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar" class="btn-group">
                    <button id="btnAdd" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                    </button>
                    @*<button id="btnDelSelect" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
                    </button>*@
                </div>
                <table id="bsTable"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

        $("#btnAdd").click(function () {
            clearInfo();
            $('#myModal').modal('show');
            $("#modalTitle").text("新增权限");
        });
        function clearInfo() {
            $("#tbxName,#tbxType,#tbxConflictCode,#tbxDescribe,#tbxMenuName,#tbxMenuIcon").val("");
            $("#AuthorityID").text("");
            $("label.error").hide();
            $(".error").removeClass("error");
        }

        $("#btnSubmit").click(function () {
            $("#formInfo").validate({
                rules: {
                    tbxType: { required: true, maxlength: 6, chinese: true },
                    tbxDescribe: { maxlength: 20 },
                    tbxName: { required: true, maxlength: 15 },
                    tbxConflictCode: { number: true, max: 2 }
                },
                submitHandler: function (form) {
                    if ($("#AuthorityID").text() != "") {
                        Ewin.confirm({ message: "确认要修改权限信息吗？" }).on(function (e) {
                            if (!e) {
                                return;
                            }
                            else {
                                var name = $("#tbxName").val();
                                var type = $("#ddlType").val();
                                var code = $("#tbxConflictCode").val();
                                var desc = $("#tbxDescribe").val();
                                var menuName = $("#tbxMenuName").val();
                                var menuIcon = $("#tbxMenuIcon").val();
                                var url = $("#tbxMenuUrl").val();
                                var fatherID = $("#tbxMenuFatherName").val();
                                var order = $("#tbxMenuOrder").val();

                                var id = $("#AuthorityID").text();

                                var args = {
                                    "id": id,
                                    "name": name,
                                    "menuName": menuName,
                                    "menuIcon": menuIcon,
                                    "type": type,
                                    "code": code,
                                    "desc": desc,
                                    "url": url,
                                    "fatherID": fatherID,
                                    "order": order
                                };

                                $.post("/AuthorityInfo/Update", encodeURIComponent(JSON.stringify(args)), function (result) {
                                    if (result == "ok") {
                                        $("#myModal").modal("hide");
                                        toastr["success"]("修改权限成功", "提示");
                                        clearInfo();
                                        $("#bsTable").bootstrapTable('refresh');
                                    }
                                    else {
                                        $("#myModal").modal("hide");
                                        toastr["error"]("保存错误，请联系5613877！", "提示");
                                    }
                                });
                            }
                        });
                    }
                    else {
                        Ewin.confirm({ message: "确认要增加权限【" + $("#tbxName").val() + "】吗？" }).on(function (e) {
                            if (!e) {
                                return;
                            }
                            else {
                                var name = $("#tbxName").val();
                                var type = $("#ddlType").val();
                                var code = $("#tbxConflictCode").val();
                                var desc = $("#tbxDescribe").val();
                                var url = $("#tbxMenuUrl").val();
                                var fatherID = $("#tbxMenuFatherName").val();
                                var menuName = $("#tbxMenuName").val();
                                var menuIcon = $("#tbxMenuIcon").val();
                                var order = $("#tbxMenuOrder").val();

                                var args = {
                                    "name": name,
                                    "menuName": menuName,
                                    "menuIcon": menuIcon,
                                    "type": type,
                                    "code": code,
                                    "desc": desc,
                                    "url": url,
                                    "fatherID": fatherID,
                                    "order": order
                                };

                                $.post("/AuthorityInfo/Insert", encodeURIComponent(JSON.stringify(args)), function (result) {
                                    if (result == "ok") {
                                        $("#myModal").modal("hide");
                                        toastr.success("添加权限【" + name + "】成功", "提示");
                                        clearInfo();
                                        $("#bsTable").bootstrapTable('refresh');
                                    }
                                    else {
                                        $("#myModal").modal("hide");
                                        toastr.error("保存错误，请联系5613877！", "提示");
                                    }
                                });
                            }
                        });
                    }
                }
            });
        });
    });

    var TableInit = function () {
        var oTableInit = new Object();
        var columns = [
            {
                checkbox: true
            },
            {
                field: 'AuthorityID',
                title: 'ID编号'
            },
            {
                field: 'AuthorityName',
                title: '权限名称'
            },
            {
                field: 'AuthorityDescribe',
                title: '权限描述'
            },
            {
                field: 'AuthorityType',
                title: '权限类型'
            },
            {
                field: 'ConflictCode',
                title: '权限互斥检测'
            },
            {
                field: 'MenuUrl',
                title: '菜单地址'
            },
            {
                field: 'MenuOrder',
                title: '菜单顺序码'
            },
            {
                field: 'MenuFatherID',
                title: '上级菜单ID'
            },
            {
                field: 'MenuIcon',
                title: '菜单图标'
            },
            {
                field: 'MenuName',
                title: '菜单名称'
            },
            {
                field: 'operate',
                title: '编辑&删除',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            }];
        //初始化Table
        oTableInit.Init = function () {
            $('#bsTable').bootstrapTable({
                url: '/AuthorityInfo/GetList',         //请求后台的URL（*）
                contentType: 'application/x-www-form-urlencoded',
                method: 'post',                     //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "AuthorityID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                showExport: false,                     //是否显示导出
                columns: columns
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                authorityName: $("#tbxAuthorityNameSearch").val(),
                authorityType: $("#ddlAuthorityTypeSearch").val()
            };
            return temp;
        };
        return oTableInit;
    };
    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            //alert('You click like action, row: ' + JSON.stringify(row));
            //console.log(row.AuthorityID);
            $("label.error").hide();
            $(".error").removeClass("error");
            $('#myModal').modal('show');
            $("#modalTitle").text("编辑权限信息");
            $("#AuthorityID").text(row.AuthorityID);
            var args = { "id": row.AuthorityID };
            $.post("/AuthorityInfo/GetOne", encodeURIComponent(JSON.stringify(args)), function (result) {
                $("#tbxName").val(result["AuthorityName"]);
                $("#ddlType").val(result["AuthorityType"]);
                $("#tbxDescribe").val(result["AuthorityDescribe"]);
                $("#tbxConflictCode").val(result["ConflictCode"]);
                $("#tbxMenuUrl").val(result["MenuUrl"]);
                $("#tbxMenuFatherName").val(result["MenuFatherID"]);
                $("#tbxMenuOrder").val(result["MenuOrder"]);
                $("#tbxMenuName").val(result["MenuName"]);
                $("#tbxMenuIcon").val(result["MenuIcon"]);
            });
        },
        'click .remove': function (e, value, row, index) {
            Ewin.confirm({ message: "确认要删除【" + row.AuthorityName + "】吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                //写服务器后台删除方法,成功后执行页面删除数据
                var args = { "id": row.AuthorityID };
                $.post("/AuthorityInfo/Del", encodeURIComponent(JSON.stringify(args)), function (result) {
                    if (result == "ok") {
                        //后台删除成功后，调用前台删除方法
                        $('#bsTable').bootstrapTable('remove', {
                            field: 'AuthorityID',
                            values: [row.AuthorityID]
                        });
                        toastr.success("删除【" + row.AuthorityName + "】成功！", "提示")
                    }
                    else {
                        toastr.error("保存错误，请联系5613877！", "提示");
                    }
                });
                
            });
        }
    };
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="edit">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-trash"></i>',
            '</a>'
        ].join('&nbsp;&nbsp;');
    }
    var ButtonInit = function () {
        var oInit = new Object();

        oInit.Init = function () {
            //初始化页面上面的按钮事件
            $("#btnSearch").click(function () {
                $("#bsTable").bootstrapTable('refresh');
            });
        };

        return oInit;
    };
</script>

