
@{
    ViewBag.Title = "综合评标法审批";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="reLoadOneModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">重新上传--技术规格书</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="container-fluid">
                        <form id="reloadOneForm" method="post" enctype="multipart/form-data">
                            <input id="tbxReLoadOneID" name="tbxReLoadOneID" class="" />
                            <input id="tbxReLoadOneType" name="tbxReLoadOneType" class="" value="技术规格书" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fileOneReLoad">技术规格书--选择上传文件<span class="text-danger">(必填)</span></label>
                                        <input id="fileOneReLoad" name="fileOneReLoad" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnReLoadSubmitOne" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reLoadTwoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">重新上传--评分标准(技术)</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="container-fluid">
                        <form id="reloadTwoForm" method="post" enctype="multipart/form-data">
                            <input id="tbxReLoadTwoID" name="tbxReLoadTwoID" class="" />
                            <input id="tbxReLoadTwoType" name="tbxReLoadTwoType" class="" value="评分标准(技术)" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fileTwoReLoad">评分标准(技术)--选择上传文件<span class="text-danger">(必填)</span></label>
                                        <input id="fileTwoReLoad" name="fileTwoReLoad" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnReLoadSubmitTwo" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reLoadThirdModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">重新上传--评分标准(商务)</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="container-fluid">
                        <form id="reloadThirdForm" method="post" enctype="multipart/form-data">
                            <input id="tbxReLoadThirdID" name="tbxReLoadThirdID" class="" />
                            <input id="tbxReLoadThirdType" name="tbxReLoadThirdType" class="" value="评分标准(商务)" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fileThirdReLoad">评分标准(商务)--选择上传文件<span class="text-danger">(必填)</span></label>
                                        <input id="fileThirdReLoad" name="fileThirdReLoad" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnReLoadSubmitThird" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<h2><span id="projectName"></span><a class="btn bg-black" href="javascript:window.history.back(-1);">返回</a></h2>
@*审批文件信息*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">审批文件信息</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>文件信息</th>
                            <th>审批级别</th>
                            <th>审批状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="fileTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*操作日志*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">操作、审批记录</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>审批类型</th>
                            <th>操作内容</th>
                            <th>操作人员</th>
                            <th>操作时间</th>
                            <th>回退原因</th>
                            <th>审批文件</th>
                        </tr>
                    </thead>
                    <tbody id="logTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*技术规格书审批*@
<div class="row" id="panelOne">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">技术规格书审批</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">一级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="SpecificationFirstTable"></tbody>
                </table>
                <hr />
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">二级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="SpecificationSecondTable"></tbody>
                </table>
                <div class="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxBackReasonOne">回退原因</label>
                                <textarea id="tbxBackReasonOne" name="tbxBackReasonOne" rows="2" cols="20" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="btnApproveBackOne" class="btn btn-danger">回退</button>
                    <button type="button" id="btnApproveOkOne" class="btn btn-primary">同意</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*评分标准--技术*@
<div class="row" id="panelTwo">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">评分标准（技术）审批</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">一级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="TechnologyFirstTable"></tbody>
                </table>
                <hr />
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">二级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="TechnologySecondTable"></tbody>
                </table>
                <div class="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxBackReasonTwo">回退原因</label>
                                <textarea id="tbxBackReasonTwo" name="tbxBackReasonTwo" rows="2" cols="20" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="btnApproveBackTwo" class="btn btn-danger">回退</button>
                    <button type="button" id="btnApproveOkTwo" class="btn btn-primary">同意</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*评分标准--商务*@
<div class="row" id="panelThird">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">评分标准（商务）审批</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">一级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="BusinessFirstTable"></tbody>
                </table>
                <hr />
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">二级审批信息</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>回退原因</th>
                        </tr>
                    </thead>
                    <tbody id="BusinessSecondTable"></tbody>
                </table>
                <div class="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxBackReasonThird">回退原因</label>
                                <textarea id="tbxBackReasonThird" name="tbxBackReasonThird" rows="2" cols="20" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="btnApproveBackThird" class="btn btn-danger">回退</button>
                    <button type="button" id="btnApproveOkThird" class="btn btn-primary">同意</button>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="infoID"></span>
<script>
    $(function () {
        var id = getParam("id");
        var projectName = unescape(getParam("projectName"));

        $("#infoID").text(id);
        $("#projectName").text(projectName);

        GetLogInfo();
        function GetLogInfo() {
            $.post("/TechnicSpecifiction/GetComprehensiveLog", { "id": $("#infoID").text() }, function (result) {
                //console.log(result);
                var list = "";
                $.each(result, function (indexInArray, val) {
                    list += "<tr>";
                    list += "<td>" + (indexInArray + 1) + "</td>";
                    var fileType = "";
                    if (val.Col3 != null) {
                        fileType = val.Col3;
                    }
                    list += "<td>" + fileType + "</td>";
                    list += "<td>" + val.LogContent + "</td>";
                    list += "<td>" + val.InputPersonName + "</td>";
                    list += "<td>" + getJsonDateTime(val.InputDateTime) + "</td>";
                    var logReason = "";
                    if (val.LogReason !== null) {
                        logReason = val.LogReason;
                    }
                    list += "<td>" + logReason + "</td>";
                    var file = val.Col1 === null ? "" : "<a target='_blank' href='/FileUpload/" + val.Col1 + "'>" + val.Col2 + "</a>";
                    list += "<td>" + file + "</td>";
                    list += "</tr>";
                });
                $("#logTable").empty().append(list);
            });
        }

        function GetApproveInfo(approveType, level, tableID) {
            var args = { "fileComprehensiveID": $("#infoID").text(), "approveType": approveType, "approveLevel": level };
            $.post("/TechnicSpecifiction/GetComprehensiveApproveInfo", encodeURIComponent(JSON.stringify(args)), function (result) {
                //console.log(result);
                var list = "";
                $.each(result, function (indexInArray, val) {
                    var reason = val.ApproveBackReason === null ? "" : val.ApproveBackReason;
                    list += "<tr>";
                    list += "<td>" + (indexInArray + 1) + "</td>";
                    list += "<td>" + val.ApprovePersonName + "</td>";
                    list += "<td>" + val.ApprovePersonFatherDeptName + "-" + val.ApprovePersonDeptName + "</td>";
                    list += "<td>" + val.ApproveState + "</td>";
                    list += "<td>" + getJsonDateTime(val.ApproveDateTime) + "</td>";
                    list += "<td>" + reason + "</td>";
                    list += "</tr>";
                });
                $("#" + tableID + "").empty().append(list);
            });
        }

        GetApproveInfo("技术规格书", "一级", "SpecificationFirstTable");
        GetApproveInfo("技术规格书", "二级", "SpecificationSecondTable");

        GetApproveInfo("评分标准(技术)", "一级", "TechnologyFirstTable");
        GetApproveInfo("评分标准(技术)", "二级", "TechnologySecondTable");

        GetApproveInfo("评分标准(商务)", "一级", "BusinessFirstTable");
        GetApproveInfo("评分标准(商务)", "二级", "BusinessSecondTable");

        GetFileList();
        function GetFileList() {
            $.post("/TechnicSpecifiction/GetComprehensiveFileListByID", { "id": $("#infoID").text() }, function (result) {
                console.log(result[0]);
                var list = "";

                var reloadOne = "";
                var colorOne = "";
                if (result[0].ApproveStateSpecification == "一级审批回退" || result[0].ApproveStateSpecification == "二级审批回退") {
                    reloadOne = "<td><a href='javascript:void(0)' id='btnReloadOne'>重新上传</a></td>";
                    colorOne = "'danger'";
                }
                list += "<tr class=" + colorOne + ">";
                list += "<td>技术规格书</td>";
                list += "<td><a target='_blank' href='/FileUpload/" + result[0].TechnicSpecificationFile + "'>" + result[0].TechnicSpecificationFileShow + "</a></td>";
                list += "<td>" + result[0].ApproveLevelSpecification + "</td>";
                list += "<td>" + result[0].ApproveStateSpecification + "</td>";
                list += reloadOne;
                list += "</tr>";

                var reloadTwo = "";
                var colorTwo = "";
                if (result[0].ApproveStateTechnology == "一级审批回退" || result[0].ApproveStateTechnology == "二级审批回退") {
                    reloadTwo = "<td><a href='javascript:void(0)' id='btnReloadTwo'>重新上传</a></td>";
                    colorTwo = "'danger'";
                }
                list += "<tr class=" + colorTwo + ">";
                list += "<td>评分标准(技术)</td>";
                list += "<td><a target='_blank' href='/FileUpload/" + result[0].TechnologyScoreStandardFile + "'>" + result[0].TechnologyScoreStandardFileShow + "</a></td>";
                list += "<td>" + result[0].ApproveLevelTechnology + "</td>";
                list += "<td>" + result[0].ApproveStateTechnology + "</td>";
                list += reloadTwo;
                list += "</tr>";

                var reloadThird = "";
                var colorThird = "";
                if (result[0].ApproveStateBusiness == "一级审批回退" || result[0].ApproveStateBusiness == "二级审批回退") {
                    reloadThird = "<td><a href='javascript:void(0)' id='btnReloadThird'>重新上传</a></td>";
                    colorThird = "'danger'";
                }
                list += "<tr class=" + colorThird + ">";
                list += "<td>评分标准(商务)</td>";
                list += "<td><a target='_blank' href='/FileUpload/" + result[0].BusinessScoreStandardFile + "'>" + result[0].BusinessScoreStandardFileShow + "</a></td>";
                list += "<td>" + result[0].ApproveLevelBusiness + "</td>";
                list += "<td>" + result[0].ApproveStateBusiness + "</td>";
                list += reloadThird;
                list += "</tr>";
                $("#fileTable").empty().append(list);
            });
        }

        function ApproveComprehensive(approveType, approveResult, backReason, callback) {
            var result = "";
            var args = {
                "fileComprehensiveID": $("#infoID").text(),
                "approveType": approveType,
                "approveResult": approveResult,
                "backReason": backReason
            };
            $.ajax({
                url: "/TechnicSpecifiction/ApproveComprehensiveChild",
                type: "post",
                data: encodeURIComponent(JSON.stringify(args)),
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }

        $("#btnApproveOkOne").click(function (e) {
            e.preventDefault();
            Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var result = ApproveComprehensive("技术规格书", "yes", "");
                    if (result === "ok") {
                        toastr.success("操作成功", "提示");
                        //审批通过成功后，刷新技术规格书审批列表、文件审批信息列表
                        GetApproveInfo("技术规格书", "一级", "SpecificationFirstTable")
                        GetApproveInfo("技术规格书", "二级", "SpecificationSecondTable")
                        GetFileList()
                    }
                    else {
                        toastr.error(result, "提示");
                    }
                }
            });
        });
        $("#btnApproveBackOne").click(function (e) {
            e.preventDefault();
            var backReason = $("#tbxBackReasonOne").val();
            if (backReason.trim() === "") {
                toastr.error("回退原因不能为空！", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var result = ApproveComprehensive("技术规格书", "no", backReason);
                        if (result === "ok") {
                            toastr.success("操作成功", "提示");
                            //审批通过成功后，刷新技术规格书审批列表、文件审批信息列表、操作日志信息列表
                            GetApproveInfo("技术规格书", "一级", "SpecificationFirstTable")
                            GetApproveInfo("技术规格书", "二级", "SpecificationSecondTable")
                            GetFileList()
                            GetLogInfo()
                        }
                        else {
                            toastr.error(result, "提示");
                        }
                    }
                });
            }
        });

        $("#btnApproveOkTwo").click(function (e) {
            e.preventDefault();
            Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var result = ApproveComprehensive("评分标准(技术)", "yes", "");
                    if (result === "ok") {
                        toastr.success("操作成功", "提示");
                        //审批通过成功后，刷新评分标准(技术)审批列表、文件审批信息列表
                        GetApproveInfo("评分标准(技术)", "一级", "TechnologyFirstTable")
                        GetApproveInfo("评分标准(技术)", "二级", "TechnologySecondTable")
                        GetFileList()
                    }
                    else {
                        toastr.error(result, "提示");
                    }
                }
            });
        });
        $("#btnApproveBackTwo").click(function (e) {
            e.preventDefault();
            var backReason = $("#tbxBackReasonTwo").val();
            if (backReason.trim() === "") {
                toastr.error("回退原因不能为空！", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var result = ApproveComprehensive("评分标准(技术)", "no", backReason);
                        if (result === "ok") {
                            toastr.success("操作成功", "提示");
                            //审批通过成功后，刷新技术规格书审批列表、文件审批信息列表、操作日志信息列表
                            GetApproveInfo("评分标准(技术)", "一级", "TechnologyFirstTable")
                            GetApproveInfo("评分标准(技术)", "二级", "TechnologySecondTable")
                            GetFileList()
                            GetLogInfo()
                        }
                        else {
                            toastr.error(result, "提示");
                        }
                    }
                });
            }
        });

        $("#btnApproveOkThird").click(function (e) {
            e.preventDefault();
            Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var result = ApproveComprehensive("评分标准(商务)", "yes", "");
                    if (result === "ok") {
                        toastr.success("操作成功", "提示");
                        //审批通过成功后，刷新评分标准(商务)审批列表、文件审批信息列表
                        GetApproveInfo("评分标准(商务)", "一级", "BusinessFirstTable")
                        GetApproveInfo("评分标准(商务)", "二级", "BusinessSecondTable")
                        GetFileList()
                    }
                    else {
                        toastr.error(result, "提示");
                    }
                }
            });
        });
        $("#btnApproveBackThird").click(function (e) {
            e.preventDefault();
            var backReason = $("#tbxBackReasonThird").val();
            if (backReason.trim() === "") {
                toastr.error("回退原因不能为空！", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var result = ApproveComprehensive("评分标准(商务)", "no", backReason);
                        if (result === "ok") {
                            toastr.success("操作成功", "提示");
                            //审批通过成功后，刷新商务规格书审批列表、文件审批信息列表、操作日志信息列表
                            GetApproveInfo("评分标准(商务)", "一级", "BusinessFirstTable")
                            GetApproveInfo("评分标准(商务)", "二级", "BusinessSecondTable")
                            GetFileList()
                            GetLogInfo()
                        }
                        else {
                            toastr.error(result, "提示");
                        }
                    }
                });
            }
        });

        $(document).on("click", "#btnReloadOne", function () {
            $("#tbxReLoadOneID").val($("#infoID").text());
            $('#reLoadOneModal').modal('show');
        });
        $(document).on("click", "#btnReloadTwo", function () {
            $("#tbxReLoadTwoID").val($("#infoID").text());
            $('#reLoadTwoModal').modal('show');
        });
        $(document).on("click", "#btnReloadThird", function () {
            $("#tbxReLoadThirdID").val($("#infoID").text());
            $('#reLoadThirdModal').modal('show');
        });

        //对reloadOneForm、reloadTwoForm、reloadThirdForm表单进行前端验证
        var validReloadOneForm = $("#reloadOneForm").validate({
            rules: {
                fileOneReLoad: { required: true }
            }
        });
        var validReloadTwoForm = $("#reloadTwoForm").validate({
            rules: {
                fileTwoReLoad: { required: true }
            }
        });
        var validReloadThirdForm = $("#reloadThirdForm").validate({
            rules: {
                fileThirdReLoad: { required: true }
            }
        });

        $("#btnReLoadSubmitOne").click(function () {
            if (validReloadOneForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#reloadOneForm").ajaxSubmit({
                            url: "/TechnicSpecifiction/ReLoadFileComprehensive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#reLoadOneModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFileList();
                                    GetLogInfo();

                                    GetApproveInfo("技术规格书", "一级", "SpecificationFirstTable");
                                    GetApproveInfo("技术规格书", "二级", "SpecificationSecondTable");
                                }
                                else {
                                    console.log(result);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });
        $("#btnReLoadSubmitTwo").click(function () {
            if (validReloadTwoForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#reloadTwoForm").ajaxSubmit({
                            url: "/TechnicSpecifiction/ReLoadFileComprehensive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#reLoadTwoModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFileList();
                                    GetLogInfo();

                                    GetApproveInfo("评分标准(技术)", "一级", "TechnologyFirstTable");
                                    GetApproveInfo("评分标准(技术)", "二级", "TechnologySecondTable");
                                }
                                else {
                                    console.log(result);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });
        $("#btnReLoadSubmitThird").click(function () {
            if (validReloadThirdForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#reloadThirdForm").ajaxSubmit({
                            url: "/TechnicSpecifiction/ReLoadFileComprehensive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#reLoadThirdModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFileList();
                                    GetLogInfo();

                                    GetApproveInfo("评分标准(商务)", "一级", "BusinessFirstTable");
                                    GetApproveInfo("评分标准(商务)", "二级", "BusinessSecondTable");
                                }
                                else {
                                    console.log(result);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });
    });
</script>

