
@{
    ViewBag.Title = "技术规格书查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/TechnicSpecifiction/SearchRedirect"></iframe>
</div>

