


<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <label for="tbxProjectNameSearch">项目名称：</label>
                <input type="text" id="tbxProjectNameSearch" class="form-control" placeholder="项目名称">
            </div>
            <div class="form-group">
                <label for="ddlApproveDeptSearch">提交部门：</label>
                <select id="ddlApproveDeptSearch" name="ddlApproveDeptSearch" class="form-control"></select>
            </div>
            <button type="button" id="btnSearch" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> 查询
            </button>
            <button type="button" id="btnReset" class="btn bg-navy">
                <span class="glyphicon glyphicon-repeat"></span> 重置
            </button>
        </div>
    </div>
</div>
<script>
    var queryParams = function (params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            tbxFileNameSearch: $("#tbxFileNameSearch").val(),
            ddlApproveLevelSearch: $("#ddlApproveLevelSearch").val(),
            ddlApproveStateSearch: $("#ddlApproveStateSearch").val(),
            ddlApproveDeptSearch: $("#ddlApproveDeptSearch").val()
        };
        return temp;
    };
    $(document).ready(function () {
        getDeptInfoSearch();
        function getDeptInfoSearch() {
            $.post("/TechnicSpecifiction/GetDeptForSearch", "", function (result) {
                var list = "<option value=''>全部</option>";
                $.each(result, function (indexInArray, val) {
                    list += "<option value='" + val.DeptID + "'>" + val.DeptName+"</option>";
                });
                $("#ddlApproveDeptSearch").append(list);
            });
        }

        //查询按钮
        $("#btnSearch").click(function () {
            $("#bsTable").bootstrapTable('refresh');
        });

        //重置按钮
        $("#btnReset").click(function () {
            $("#tbxFileNameSearch,#ddlApproveLevelSearch,#ddlApproveStateSearch,#ddlApproveDeptSearch").val("");
            $("#bsTable").bootstrapTable('refresh');
        });
    });
</script>