

<table id="bsTable"></table>
<script>
    $(function () {
        var ApproveEvents = {
            'click .approve': function (e, value, row, index) {
                var id = row.FileComprehensiveID;
                console.log(id);
                window.location.href = "/TechnicSpecifiction/ApproveComprehensive?id=" + id + "&projectName=" + escape(row.ProjectName);
            }
        };
        function loadColumns() {
            var tempArray = [
                {
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'FileComprehensiveID',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'ProjectName',
                    title: '项目名称',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                        return "<a class='approve' href='javascript: void (0)' title='审批'>" + row.ProjectName+"</a>";
                    },
                    events: ApproveEvents
                },
                {
                    title: '合并技术规格书文件',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。

                    }
                },
                {
                    field: 'ApproveStateSpecification',
                    title: '技术规格书审批',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                        return "【" + row.ApproveLevelSpecification + "】--" + row.ApproveStateSpecification;
                    }
                },
                {
                    field: 'ApproveStateTechnology',
                    title: '评分标准(技术)审批',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                        return "【"+row.ApproveLevelTechnology + "】--" + row.ApproveStateTechnology;
                    }
                },
                {
                    field: 'ApproveStateBusiness',
                    title: '评分标准(商务)审批',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                        return "【" + row.ApproveLevelBusiness + "】--" + row.ApproveStateBusiness;
                    }
                },
                {
                    field: 'InputPersonName',
                    title: '提交人员'
                },
                {
                    title: '提交部门',
                    formatter: function (value, row, index) {//这里的三个参数：value表示当前行当前列的值；row表示当前行的数据；index表示当前行的索引（从0开始）。
                        return row.InputPersonFatherDeptName + "-" + row.InputPersonDeptName;
                    }
                },
                {
                    field: 'InputDateTime',
                    title: '提交时间',
                    formatter: function (value, row, index) {
                        return getJsonDateTime(value);
                    }
                }
            ];
            return tempArray;
            //console.log(tempArray);
            //if ($("#userRole").text() === "技术规格书上传") {
            //    return $.grep(tempArray, function (ele, index) {
            //        return index !== 2;
            //    });
            //}
            //else {
            //    return tempArray;
            //}
        }
        var columns = loadColumns();

        //初始化BS-Table
        $('#bsTable').bootstrapTable({
            url: '/TechnicSpecifiction/GetComprehensiveList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,           //传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "FileComprehensiveID",          //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            rowStyle: function (row, index) {
                if (row.ApproveState === "一级审批回退" || row.ApproveState === "二级审批回退") {
                    return { classes: "danger" };
                }
                else {
                    if (row.ApproveState === "待审核") {
                        return { classes: "warning" };

                    }
                    else {
                        return { classes: "default" };
                    }
                }
            },
            columns: columns
        })
            .on('all.bs.table', function (e, name, args) {
                $('[data-toggle="tooltip"]').tooltip();
            });
    });
</script>