@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        text-align: center;
    }
</style>
<div class="modal fade" id="FirstModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">信息录入</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="FirstForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountFirstID" name="tbxAccountFirstID" type="text" class="hidden" />
                            <input id="tbxAccountChildFirstID" name="tbxAccountChildFirstID" type="text" class="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxTenderFilePlanPayPersonEdit">购买招标文件潜在投标人</label>
                                        <input id="tbxTenderFilePlanPayPersonEdit" name="tbxTenderFilePlanPayPersonEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxTenderPersonEdit">投标人</label>
                                        <input id="tbxTenderPersonEdit" name="tbxTenderPersonEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxProductManufacturerEdit">产品制造商（代理、贸易商投标时填写）</label>
                                        <input id="tbxProductManufacturerEdit" name="tbxProductManufacturerEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxQuotedPriceSumEdit">投标总价（万元）</label>
                                        <input id="tbxQuotedPriceSumEdit" name="tbxQuotedPriceSumEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ddlNegationExplain">初步评审是否被否决</label>
                                        <select class="form-control" id="ddlNegationExplain" name="ddlNegationExplain">
                                            <option value="否" selected>否</option>
                                            <option value="是">是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnFirstSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SecondModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">评标委员会</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="SecondForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountSecondID" name="tbxAccountSecondID" type="text"  class="hidden" />
                            <input id="tbxAccountChildSecondID" name="tbxAccountChildSecondID" type="text"  class="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxEvaluationPersonNameEdit">姓名</label>
                                        <input id="tbxEvaluationPersonNameEdit" name="tbxEvaluationPersonNameEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ddlEvaluationPersonDeptEdit">单位</label>
                                        <select id="ddlEvaluationPersonDeptEdit" name="ddlEvaluationPersonDeptEdit" class="form-control input-sm DeptSelect"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ddlIsEvaluationDirectorEdit">是否评标委员会主任</label>
                                        <select id="ddlIsEvaluationDirectorEdit" name="ddlIsEvaluationDirectorEdit" class="form-control">
                                            <option value="否" selected>否</option>
                                            <option value="是">是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxEvaluationTimeEdit">评审时间（小时）</label>
                                        <input id="tbxEvaluationTimeEdit" name="tbxEvaluationTimeEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxEvaluationCostEdit">评审费</label>
                                        <input id="tbxEvaluationCostEdit" name="tbxEvaluationCostEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnSecondSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ThirdModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">招标文件联审</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="ThirdForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountThirdID" name="tbxAccountThirdID" type="text"  class="hidden" />
                            <input id="tbxAccountChildThirdID" name="tbxAccountChildThirdID" type="text"  class="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxTenderFileAuditPersonNameEdit">姓名</label>
                                        <input id="tbxTenderFileAuditPersonNameEdit" name="tbxTenderFileAuditPersonNameEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ddlTenderFileAuditPersonDeptEdit">单位</label>
                                        <select id="ddlTenderFileAuditPersonDeptEdit" name="ddlTenderFileAuditPersonDeptEdit" class="form-control input-sm DeptSelect"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxTenderFileAuditCostEdit">费用</label>
                                        <input id="tbxTenderFileAuditCostEdit" name="tbxTenderFileAuditCostEdit" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnThirdSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="FourModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">澄清（修改）</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="FourForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountFourID" name="tbxAccountFourID" type="text"  class="hidden" />
                            <input id="tbxAccountChildFourID" name="tbxAccountChildFourID" type="text"  class="hidden" />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxClarifyLaunchPersonEdit">
                                            提起人
                                        </label>
                                        <input id="tbxClarifyLaunchPersonEdit" name="tbxClarifyLaunchPersonEdit" class="form-control input-sm" placeholder="提起人" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxClarifyLaunchDateEdit">
                                            提出时间
                                        </label>
                                        <input id="tbxClarifyLaunchDateEdit" name="tbxClarifyLaunchDateEdit" class="form-control input-sm accountDate" placeholder="提出时间" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxClarifyAcceptDateEdit">
                                            受理时间
                                        </label>
                                        <input id="tbxClarifyAcceptDateEdit" name="tbxClarifyAcceptDateEdit" class="form-control input-sm accountDate" placeholder="受理时间" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxClarifyDisposePersonEdit">
                                            处理人
                                        </label>
                                        <input id="tbxClarifyDisposePersonEdit" name="tbxClarifyDisposePersonEdit" class="form-control input-sm" placeholder="处理人" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ddlIsClarifyEdit">澄清/修改</label>
                                        <select id="ddlIsClarifyEdit" name="ddlIsClarifyEdit" class="form-control input-sm">
                                            <option value="澄清">澄清</option>
                                            <option value="修改">修改</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxClarifyReplyDateEdit">
                                            答复时间
                                        </label>
                                        <input id="tbxClarifyReplyDateEdit" name="tbxClarifyReplyDateEdit" class="form-control input-sm accountDate" placeholder="答复时间" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxClarifyReasonEdit">
                                            事由
                                        </label>
                                        <textarea id="tbxClarifyReasonEdit" name="tbxClarifyReasonEdit" class="form-control input-sm" rows="3" cols="60"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxClarifyDisposeInfoEdit">
                                            处理情况
                                        </label>
                                        <textarea id="tbxClarifyDisposeInfoEdit" name="tbxClarifyDisposeInfoEdit" class="form-control input-sm" rows="3" cols="60"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnFourSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="FiveModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">澄清（修改）</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="FiveForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountFiveID" name="tbxAccountFiveID" type="text"  class="hidden" />
                            <input id="tbxAccountChildFiveID" name="tbxAccountChildFiveID" type="text"  class="hidden" />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentLaunchPersonEdit">
                                            提起人
                                        </label>
                                        <input id="tbxDissentLaunchPersonEdit" name="tbxDissentLaunchPersonEdit" class="form-control input-sm" placeholder="提起人" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentLaunchPersonPhoneEdit">
                                            联系方式
                                        </label>
                                        <input id="tbxDissentLaunchPersonPhoneEdit" name="tbxDissentLaunchPersonPhoneEdit" class="form-control input-sm" placeholder="联系方式" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentLaunchDateEdit">
                                            异议时间
                                        </label>
                                        <input id="tbxDissentLaunchDateEdit" name="tbxDissentLaunchDateEdit" class="form-control input-sm accountDate" placeholder="异议时间" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentAcceptDateEdit">
                                            受理时间
                                        </label>
                                        <input id="tbxDissentAcceptDateEdit" name="tbxDissentAcceptDateEdit" class="form-control input-sm accountDate" placeholder="受理时间" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentAcceptPersonEdit">
                                            受理人
                                        </label>
                                        <input id="tbxDissentAcceptPersonEdit" name="tbxDissentAcceptPersonEdit" class="form-control input-sm" placeholder="受理人" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentDisposePersonEdit">
                                            处理人
                                        </label>
                                        <input id="tbxDissentDisposePersonEdit" name="tbxDissentDisposePersonEdit" class="form-control input-sm" placeholder="处理人" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxDissentReplyDateEdit">
                                            答复时间
                                        </label>
                                        <input id="tbxDissentReplyDateEdit" name="tbxDissentReplyDateEdit" class="form-control input-sm accountDate" placeholder="答复时间" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxDissentReasonEdit">
                                            事由
                                        </label>
                                        <textarea id="tbxDissentReasonEdit" name="tbxDissentReasonEdit" class="form-control" rows="3" cols="60"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tbxDissentDisposeInfoEdit">
                                            处理情况
                                        </label>
                                        <textarea id="tbxDissentDisposeInfoEdit" name="tbxDissentDisposeInfoEdit" class="form-control" rows="3" cols="60"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnFiveSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SixModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">框架文件上传</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="SixForm" method="post" enctype="multipart/form-data">
                            <input id="tbxAccountSixID" name="tbxAccountSixID" type="text"  class="hidden" />
                            <input id="tbxAccountChildSixID" name="tbxAccountChildSixID" type="text"  class="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="frameFile">框架文件<span class="text-danger">(必填)</span></label>
                                        <input id="frameFile" name="frameFile" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnSixSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ImportModal")
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">招标管理台账--框架</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <form id="EditAccountForm" method="post" enctype="multipart/form-data">
                    <input id="tbxAccountIDEdit" name="tbxAccountIDEdit" type="text" value="@ViewBag.id" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProjectNameEdit">项目名称</label>
                                <input id="tbxProjectNameEdit" name="tbxProjectNameEdit" class="form-control input-sm" placeholder="项目名称" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileNumEdit">项目文件编号</label>
                                <input id="tbxTenderFileNumEdit" name="tbxTenderFileNumEdit" class="form-control input-sm" placeholder="项目文件编号" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlIsOnlineEdit">线上/线下</label>
                                <select id="ddlIsOnlineEdit" name="ddlIsOnlineEdit" class="form-control input-sm">
                                    <option value="线上" selected>线上</option>
                                    <option value="线下">线下</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProjectResponsiblePersonEdit">招标项目负责人</label>
                                <input id="tbxProjectResponsiblePersonEdit" name="tbxProjectResponsiblePersonEdit" class="form-control input-sm" placeholder="项目文件编号" />
                                @*<select id="ddlProjectResponsiblePersonEdit" name="ddlProjectResponsiblePersonEdit" class="form-control input-sm"></select>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlUsingDeptEdit">使用单位</label>
                                <select id="ddlUsingDeptEdit" name="ddlUsingDeptEdit" class="form-control input-sm DeptSelect"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlProjectResponsibleDeptEdit">项目主责部门</label>
                                <select id="ddlProjectResponsibleDeptEdit" name="ddlProjectResponsibleDeptEdit" class="form-control input-sm DeptSelect"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxApplyPersonEdit">申请人</label>
                                <input id="tbxApplyPersonEdit" name="tbxApplyPersonEdit" class="form-control input-sm" placeholder="申请人" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxInvestPlanApproveNumEdit">投资计划批复文号</label>
                                <input id="tbxInvestPlanApproveNumEdit" name="tbxInvestPlanApproveNumEdit" class="form-control input-sm" placeholder="投资计划批复文号" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderRangeEdit">招标范围</label>
                                <input id="tbxTenderRangeEdit" name="tbxTenderRangeEdit" class="form-control input-sm" placeholder="招标范围" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderModeEdit">招标方式</label>
                                <input id="tbxTenderModeEdit" name="tbxTenderModeEdit" class="form-control input-sm" placeholder="招标方式" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxBidEvaluationEdit">评标方法</label>
                                <input id="tbxBidEvaluationEdit" name="tbxBidEvaluationEdit" class="form-control input-sm" placeholder="评标方法" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxSupplyPeriodEdit">供货期</label>
                                <input id="tbxSupplyPeriodEdit" name="tbxSupplyPeriodEdit" class="form-control input-sm" placeholder="供货期" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderProgramAuditDateEdit">招标方案联审时间</label>
                                <input id="tbxTenderProgramAuditDateEdit" name="tbxTenderProgramAuditDateEdit" class="form-control input-sm accountDate" placeholder="招标方案联审时间" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProgramAcceptDateEdit">收到方案日期</label>
                                <input id="tbxProgramAcceptDateEdit" name="tbxProgramAcceptDateEdit" class="form-control input-sm accountDate" placeholder="收到方案日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileSaleStartDateEdit">发售招标文件开始日期</label>
                                <input id="tbxTenderFileSaleStartDateEdit" name="tbxTenderFileSaleStartDateEdit" class="form-control input-sm accountDateTime" placeholder="发售招标文件开始日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileSaleEndDateEdit">发售招标文件截止日期</label>
                                <input id="tbxTenderFileSaleEndDateEdit" name="tbxTenderFileSaleEndDateEdit" class="form-control input-sm accountDateTime" placeholder="发售招标文件截止日期" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderStartDateEdit">开标日期</label>
                                <input id="tbxTenderStartDateEdit" name="tbxTenderStartDateEdit" class="form-control input-sm accountDateTime" placeholder="开标日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlTenderInfoEdit">招标情况</label>
                                <select id="ddlTenderInfoEdit" name="ddlTenderInfoEdit" class="form-control input-sm">
                                    <option value="一次成功">一次成功</option>
                                    <option value="一次失败">一次失败</option>
                                    <option value="一次失败转谈判">一次失败转谈判</option>
                                    <option value="二次成功">二次成功</option>
                                    <option value="二次失败">二次失败</option>
                                    <option value="二次失败转谈判">二次失败转谈判</option>
                                    <option value="三次成功">三次成功</option>
                                    <option value="三次失败">三次失败</option>
                                    <option value="三次失败转谈判">三次失败转谈判</option>
                                    <option value="四次成功">四次成功</option>
                                    <option value="四次失败">四次失败</option>
                                    <option value="四次失败">四次失败</option>
                                    <option value="终止">终止</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlIsHaveCountEdit">是否带量</label>
                                <select id="ddlIsHaveCountEdit" name="ddlIsHaveCountEdit" class="form-control input-sm">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            投标人信息
                            <button id="btnFirstAdd" type="button" class="btn btn-success btn-sm">新增</button>
                            <button id="btnFirstImport" type="button" data-type="FirstFrame" class="btn btn-info btn-sm InfoImport">批量导入</button>
                            <button id="btnFirstRemove" type="button" data-type="FirstFrame" class="btn bg-olive btn-sm InfoRemove">清空</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle">操作</th>
                                                <th class="text-center" style="vertical-align:middle">购买招标文件潜在投标人</th>
                                                <th class="text-center" style="vertical-align:middle">投标人</th>
                                                <th class="text-center" style="vertical-align:middle">产品制造商（代理、贸易商投标时填写）</th>
                                                <th class="text-center">投标总价（万元）</th>
                                                <th class="text-center" style="vertical-align:middle">初步评审是否被否决</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFirst"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessPersonEdit">中标人名称</label>
                                <input id="tbxTenderSuccessPersonEdit" name="tbxTenderSuccessPersonEdit" class="form-control input-sm" placeholder="中标人名称" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxPlanInvestPriceEdit">预计投资（万元）</label>
                                <input id="tbxPlanInvestPriceEdit" name="tbxPlanInvestPriceEdit" class="form-control input-sm" placeholder="预计投资（招标控制总价）（元）" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderRestrictUnitPriceEdit">招标控制价--单价</label>
                                <input id="tbxTenderRestrictUnitPriceEdit" name="tbxTenderRestrictUnitPriceEdit" class="form-control input-sm" placeholder="招标控制单价" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderRestrictSumPriceEdit">招标控制价--总价（万元）</label>
                                <input id="tbxTenderRestrictSumPriceEdit" name="tbxTenderRestrictSumPriceEdit" class="form-control input-sm" placeholder="招标控制价--总价（万元）" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessUnitPriceEdit">中标金额--单价</label>
                                <input id="tbxTenderSuccessUnitPriceEdit" name="tbxTenderSuccessUnitPriceEdit" class="form-control input-sm" placeholder="中标金额--单价" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessSumPriceEdit">中标金额--总价（万元）</label>
                                <input id="tbxTenderSuccessSumPriceEdit" name="tbxTenderSuccessSumPriceEdit" class="form-control input-sm" placeholder="中标金额--总价（万元）" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxSaveCapitalEdit">与控制价比节约资金（万元）/资金节约率</label>
                                <input id="tbxSaveCapitalEdit" name="tbxSaveCapitalEdit" class="form-control input-sm" placeholder="与控制价比节约资金（万元）/资金节约率" />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            评标委员会
                            <button id="btnSecondAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="6" class="text-center">评标委员会</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">姓名</th>
                                                <th class="text-center">单位</th>
                                                <th class="text-center">是否评标委员会主任</th>
                                                <th class="text-center">评审时间（小时）</th>
                                                <th class="text-center">评审费</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableSecond"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            招标文件联审
                            <button id="btnThirdAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxTenderFileAuditTimeEdit">联审时间（小时）</label>
                                        <input id="tbxTenderFileAuditTimeEdit" name="tbxTenderFileAuditTimeEdit" class="form-control input-sm" placeholder="联审时间（小时）" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="4" class="text-center">招标文件联审</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">姓名</th>
                                                <th class="text-center">单位</th>
                                                <th class="text-center">费用</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableThird"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxTenderFailReasonEdit">招标失败原因</label>
                                <textarea id="tbxTenderFailReasonEdit" name="tbxTenderFailReasonEdit" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            澄清（修改）
                            <button id="btnFourAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="9" class="text-center">澄清（修改）</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">提起人</th>
                                                <th class="text-center">提出时间</th>
                                                <th class="text-center">事由</th>
                                                <th class="text-center">受理时间</th>
                                                <th class="text-center">处理人</th>
                                                <th class="text-center">澄清/修改</th>
                                                <th class="text-center">处理情况</th>
                                                <th class="text-center">答复时间</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFour"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            异议处理
                            <button id="btnFiveAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="10" class="text-center">异议处理</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">提起人</th>
                                                <th class="text-center">联系方式</th>
                                                <th class="text-center">异议时间</th>
                                                <th class="text-center">事由</th>
                                                <th class="text-center">受理时间</th>
                                                <th class="text-center">受理人</th>
                                                <th class="text-center">处理人</th>
                                                <th class="text-center">处理情况</th>
                                                <th class="text-center">答复时间</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFive"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxContractNumEdit">合同编号</label>
                                <input id="tbxContractNumEdit" name="tbxContractNumEdit" class="form-control input-sm" placeholder="合同编号" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxContractPriceEdit">合同金额</label>
                                <input id="tbxContractPriceEdit" name="tbxContractPriceEdit" class="form-control input-sm" placeholder="合同金额" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxRelativePersonEdit">相对人名称</label>
                                <input id="tbxRelativePersonEdit" name="tbxRelativePersonEdit" class="form-control input-sm" placeholder="相对人名称" />
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            框架文件
                            <button id="btnSixAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">框架文件</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableSix"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxTenderRemarkEdit">备注</label>
                                <textarea id="tbxTenderRemarkEdit" name="tbxTenderRemarkEdit" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="button" id="btnSubmit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"></i> 提交
                        </button>
                        <button type="button" id="btnReturn" class="btn bg-black">
                            <i class="glyphicon glyphicon-share-alt"></i> 返回
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function GetFirstTable() {
        var accountID = $("#tbxAccountIDEdit").val();
        $.post("/Account/GetListEdit", { "accountID": accountID, "type": "first" }, function (result) {
            var list = "";
            $.each(result, function (indexInArray, valueOfElement) {
                list += "<tr>";
                list += "<td><a href='javascript:void(0)' class='btnFirstEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFirstDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                list += "<td>" + valueOfElement["TenderFilePlanPayPerson"] + "</td>";
                list += "<td>" + valueOfElement["TenderPerson"] + "</td>";
                list += "<td>" + valueOfElement["ProductManufacturer"] + "</td>";
                list += "<td>" + valueOfElement["QuotedPriceSum"] + "</td>";
                list += "<td>" + valueOfElement["NegationExplain"] + "</td>";
                list += "</tr>";
            });
            $("#tableFirst").empty().append(list);
        });
    }

    $(function () {
        $(".accountDate").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });
        $(".accountDateTime").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: true,
            minView: 0,
            forceParse: 0,
            format: 'yyyy-mm-dd hh:ii'
        });

        GetDeptForSelect();
        function GetDeptForSelect() {
            var list = "";
            $.post("/Account/GetDeptForSelect", "", function (result) {
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<option value='" + valueOfElement.DeptID + "'>" + valueOfElement.DeptName + "</option>";
                });
                $(".DeptSelect").empty().append(list);
            });
        }

        function ClearInfo() {
            $("#FirstModal input").val("");
            $("#FirstModal textarea").val("");
            $("#SecondModal input").val("");
            $("#ThirdModal input").val("");
            $("#FourModal input").val("");
            $("#FourModal textarea").val("");
            $("#FiveModal input").val("");
            $("#FiveModal textarea").val("");
            $("#SixModal input").val("");
        }

        GetInfo();

        GetFirstTable();
        GetSecondTable();
        GetThirdTable();
        GetFourTable();
        GetFiveTable();
        GetSixTable();

        $("#btnFirstAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFirstID").val($("#tbxAccountIDEdit").val());
            $('#FirstModal').modal('show');
        });
        $("#btnSecondAdd").click(function () {
            ClearInfo();
            $("#tbxAccountSecondID").val($("#tbxAccountIDEdit").val());
            $('#SecondModal').modal('show');
        });
        $("#btnThirdAdd").click(function () {
            ClearInfo();
            $("#tbxAccountThirdID").val($("#tbxAccountIDEdit").val());
            $('#ThirdModal').modal('show');
        });
        $("#btnFourAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFourID").val($("#tbxAccountIDEdit").val());
            $('#FourModal').modal('show');
        });
        $("#btnFiveAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFiveID").val($("#tbxAccountIDEdit").val());
            $('#FiveModal').modal('show');
        });
        $("#btnSixAdd").click(function () {
            ClearInfo();
            $("#tbxAccountSixID").val($("#tbxAccountIDEdit").val());
            $('#SixModal').modal('show');
        });

        //First提交
        $("#btnFirstSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFirstID").val() !== "") {
                        //update
                        $("#FirstForm").ajaxSubmit({
                            url: "/Account/UpdateFirst",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FirstModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFirstTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FirstForm").ajaxSubmit({
                            url: "/Account/InsertFirst",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FirstModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFirstTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Second提交
        $("#btnSecondSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildSecondID").val() !== "") {
                        //update
                        $("#SecondForm").ajaxSubmit({
                            url: "/Account/UpdateSecond",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#SecondModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetSecondTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#SecondForm").ajaxSubmit({
                            url: "/Account/InsertSecond",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#SecondModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetSecondTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Third提交
        $("#btnThirdSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildThirdID").val() !== "") {
                        //update
                        $("#ThirdForm").ajaxSubmit({
                            url: "/Account/UpdateThird",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ThirdModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetThirdTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#ThirdForm").ajaxSubmit({
                            url: "/Account/InsertThird",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ThirdModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetThirdTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Four提交
        $("#btnFourSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFourID").val() !== "") {
                        //update
                        $("#FourForm").ajaxSubmit({
                            url: "/Account/UpdateFour",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FourModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFourTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FourForm").ajaxSubmit({
                            url: "/Account/InsertFour",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FourModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFourTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Five提交
        $("#btnFiveSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFiveID").val() !== "") {
                        //update
                        $("#FiveForm").ajaxSubmit({
                            url: "/Account/UpdateFive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FiveModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFiveTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FiveForm").ajaxSubmit({
                            url: "/Account/InsertFive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FiveModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFiveTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Six提交
        $("#btnSixSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $("#SixForm").ajaxSubmit({
                        url: "/Account/UploadFrameFile",
                        type: "post",
                        success: function (result) {
                            if (result === "ok") {
                                $("#SixModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                GetSixTable();
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            toastr.error(error, "提示");
                            return;
                        }
                    });
                }
            });
        });



        function GetSecondTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "second" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    list += "<td><a href='javascript:void(0)' class='btnSecondEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnSecondDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    list += "<td>" + valueOfElement["EvaluationPersonName"] + "</td>";
                    list += "<td>" + valueOfElement["EvaluationPersonDeptName"] + "</td>";
                    list += "<td>" + valueOfElement["IsEvaluationDirector"] + "</td>";
                    list += "<td>" + valueOfElement["EvaluationTime"] + "</td>";
                    list += "<td>" + valueOfElement["EvaluationCost"] + "</td>";
                    list += "</tr>";
                });
                $("#tableSecond").empty().append(list);
            });
        }

        function GetThirdTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Third" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    list += "<td><a href='javascript:void(0)' class='btnThirdEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnThirdDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    list += "<td>" + valueOfElement["TenderFileAuditPersonName"] + "</td>";
                    list += "<td>" + valueOfElement["TenderFileAuditPersonDeptName"] + "</td>";
                    list += "<td>" + valueOfElement["TenderFileAuditCost"] + "</td>";
                    list += "</tr>";
                });
                $("#tableThird").empty().append(list);
            });
        }

        function GetFourTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Four" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    list += "<td><a href='javascript:void(0)' class='btnFourEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFourDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    list += "<td>" + valueOfElement["ClarifyLaunchPerson"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyLaunchDate"]) + "</td>";
                    list += "<td>" + valueOfElement["ClarifyReason"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyAcceptDate"]) + "</td>";
                    list += "<td>" + valueOfElement["ClarifyDisposePerson"] + "</td>";
                    list += "<td>" + valueOfElement["IsClarify"] + "</td>";
                    list += "<td>" + valueOfElement["ClarifyDisposeInfo"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyReplyDate"]) + "</td>";
                    list += "</tr>";
                });
                $("#tableFour").empty().append(list);
            });
        }

        function GetFiveTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Five" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    list += "<td><a href='javascript:void(0)' class='btnFiveEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFiveDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    list += "<td>" + valueOfElement["DissentLaunchPerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentLaunchPersonPhone"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentLaunchDate"]) + "</td>";
                    list += "<td>" + valueOfElement["DissentReason"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentAcceptDate"]) + "</td>";
                    list += "<td>" + valueOfElement["DissentAcceptPerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentDisposePerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentDisposeInfo"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentReplyDate"]) + "</td>";
                    list += "</tr>";
                });
                $("#tableFive").empty().append(list);
            });
        }

        function GetSixTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Six" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    list += "<td><a href='javascript:void(0)' class='btnSixDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    list += "<td>" + valueOfElement["FrameFile"] + "</td>";
                    list += "</tr>";
                });
                $("#tableSix").empty().append(list);
            });
        }

        $(document).on("click", ".btnFirstEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FirstModal').modal('show');
            $("#tbxAccountChildFirstID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxTenderFilePlanPayPersonEdit").val(result.TenderFilePlanPayPerson);
                $("#tbxTenderPersonEdit").val(result.TenderPerson);
                $("#tbxProductManufacturerEdit").val(result.ProductManufacturer);
                $("#tbxQuotedPriceUnitEdit").val(result.QuotedPriceUnit);
                $("#tbxQuotedPriceSumEdit").val(result.QuotedPriceSum);
                $("#ddlNegationExplain").val(result.NegationExplain);
            });
        });
        $(document).on("click", ".btnFirstDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFirstTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnSecondEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#SecondModal').modal('show');
            $("#tbxAccountChildSecondID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxEvaluationPersonNameEdit").val(result.EvaluationPersonName);
                $("#ddlEvaluationPersonDeptEdit").val(result.EvaluationPersonDeptID);
                $("#ddlIsEvaluationDirectorEdit").val(result.IsEvaluationDirector);
                $("#tbxEvaluationCostEdit").val(result.EvaluationCost);
                $("#tbxEvaluationTimeEdit").val(result.EvaluationTime);
            });
        });
        $(document).on("click", ".btnSecondDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetSecondTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnThirdEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#ThirdModal').modal('show');
            $("#tbxAccountChildThirdID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxTenderFileAuditPersonNameEdit").val(result.TenderFileAuditPersonName);
                $("#ddlTenderFileAuditPersonDeptEdit").val(result.TenderFileAuditPersonDeptID);
                $("#tbxTenderFileAuditCostEdit").val(result.TenderFileAuditCost);
            });
        });
        $(document).on("click", ".btnThirdDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetThirdTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnFourEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FourModal').modal('show');
            $("#tbxAccountChildFourID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxClarifyLaunchPersonEdit").val(result.ClarifyLaunchPerson);
                $("#tbxClarifyLaunchDateEdit").val(getJsonDateShort(result.ClarifyLaunchDate));
                $("#tbxClarifyAcceptDateEdit").val(getJsonDateShort(result.ClarifyAcceptDate));
                $("#tbxClarifyDisposePersonEdit").val(result.ClarifyDisposePerson);
                $("#ddlIsClarifyEdit").val(result.IsClarify);
                $("#tbxClarifyReplyDateEdit").val(getJsonDateShort(result.ClarifyReplyDate));
                $("#tbxClarifyReasonEdit").val(result.ClarifyReason);
                $("#tbxClarifyDisposeInfoEdit").val(result.ClarifyDisposeInfo);
            });
        });
        $(document).on("click", ".btnFourDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFourTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnFiveEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FiveModal').modal('show');
            $("#tbxAccountChildFiveID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxDissentLaunchPersonEdit").val(result.DissentLaunchPerson);
                $("#tbxDissentLaunchPersonPhoneEdit").val(result.DissentLaunchPersonPhone);
                $("#tbxDissentLaunchDateEdit").val(getJsonDateShort(result.DissentLaunchDate));

                $("#tbxDissentAcceptDateEdit").val(getJsonDateShort(result.DissentAcceptDate));
                $("#tbxDissentAcceptPersonEdit").val(result.DissentAcceptPerson);
                $("#tbxDissentDisposePersonEdit").val(result.DissentDisposePerson);
                $("#tbxDissentReplyDateEdit").val(getJsonDateShort(result.DissentReplyDate));

                $("#tbxDissentReasonEdit").val(result.DissentReason);
                $("#tbxDissentDisposeInfoEdit").val(result.DissentDisposeInfo);
            });
        });
        $(document).on("click", ".btnFiveDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFiveTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnSixDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelFrameFile", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetSixTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $("#btnSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $("#EditAccountForm").ajaxSubmit({
                        url: "/Account/Update",
                        type: "post",
                        success: function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                //window.location.href = "/Account/Frame";
                                window.history.back(-1);
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            toastr.error(error, "提示");
                            return;
                        }
                    });
                }
            });
        });

        $("#btnReturn").click(function () {
            window.history.back(-1);
        });

        function GetInfo() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetOne", { "accountID": accountID }, function (result) {
                $("#tbxProjectNameEdit").val(result.ProjectName);
                $("#tbxTenderFileNumEdit").val(result.TenderFileNum);
                $("#ddlIsOnlineEdit").val(result.IsOnline);
                $("#tbxProjectResponsiblePersonEdit").val(result.ProjectResponsiblePersonName);

                $("#ddlUsingDeptEdit").val(result.UsingDeptID);
                $("#ddlProjectResponsibleDeptEdit").val(result.ProjectResponsibleDeptID);
                $("#tbxApplyPersonEdit").val(result.ApplyPerson);
                $("#tbxInvestPlanApproveNumEdit").val(result.InvestPlanApproveNum);

                $("#tbxTenderRangeEdit").val(result.TenderRange);
                $("#tbxTenderModeEdit").val(result.TenderMode);
                $("#tbxBidEvaluationEdit").val(result.BidEvaluation);
                $("#tbxSupplyPeriodEdit").val(result.SupplyPeriod);
                $("#ddlIsHaveCountEdit").val(result.IsHaveCount);

                $("#tbxTenderProgramAuditDateEdit").val(getJsonDateShort(result.TenderProgramAuditDate));
                $("#tbxProgramAcceptDateEdit").val(getJsonDateShort(result.ProgramAcceptDate));
                $("#tbxTenderFileSaleStartDateEdit").val(getJsonDateTimeMinute(result.TenderFileSaleStartDate));
                $("#tbxTenderFileSaleEndDateEdit").val(getJsonDateTimeMinute(result.TenderFileSaleEndDate));
                $("#tbxTenderStartDateEdit").val(getJsonDateTimeMinute(result.TenderStartDate));


                $("#tbxTenderSuccessPersonEdit").val(result.TenderSuccessPerson);
                $("#tbxPlanInvestPriceEdit").val(result.PlanInvestPrice);
                $("#tbxTenderRestrictUnitPriceEdit").val(result.TenderRestrictUnitPrice);

                $("#tbxTenderSuccessUnitPriceEdit").val(result.TenderSuccessUnitPrice);
                $("#tbxTenderSuccessSumPriceEdit").val(result.TenderSuccessSumPrice);
                $("#tbxSaveCapitalEdit").val(result.SaveCapital);

                $("#tbxTenderFileAuditTimeEdit").val(result.TenderFileAuditTime);
                $("#tbxTenderFailReasonEdit").val(result.TenderFailReason);

                $("#tbxContractNumEdit").val(result.ContractNum);
                $("#tbxContractPriceEdit").val(result.ContractPrice);
                $("#tbxRelativePersonEdit").val(result.RelativePerson);
                $("#ddlTenderInfoEdit").val(result.TenderInfo);

                $("#tbxTenderRemarkEdit").val(result.TenderRemark);
            });
        }
    });
</script>



