
@{
    ViewBag.Title = "招标样品检测信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ueditor/ueditor.config.js"></script>
<script src="~/ueditor/ueditor.all.min.js"></script>
<div class="modal fade" id="FirstModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">添加送样委托</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="FirstForm" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="tbxSampleName">样品名称<span class="text-danger">(必填)</span></label>
                                        <input type="text" class="form-control" name="tbxSampleName" id="tbxSampleName" placeholder="样品名称">
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="tbxSampleNum">样品个数<span class="text-danger">(必填)</span></label>
                                        <input type="text" class="form-control" name="tbxSampleNum" id="tbxSampleNum" placeholder="样品个数">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="ddlProjectResponsiblePerson">招标负责人</label>
                                        <select id="ddlProjectResponsiblePerson" name="ddlProjectResponsiblePerson" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="ddlSampleDelegationAcceptPerson">送样委托技术接收人</label>
                                        <select id="ddlSampleDelegationAcceptPerson" name="ddlSampleDelegationAcceptPerson" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="tbxStartTenderDate">开标时间<span class="text-danger">(必填)</span></label>
                                        <input type="text" class="form-control" name="tbxStartTenderDate" id="tbxStartTenderDate" placeholder="开标时间">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnFirstSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SecondModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">送样委托技术要求录入</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="SecondForm" method="post" enctype="multipart/form-data">
                            <input id="secondInfoID" name="secondInfoID" class="hidden" type="text" />
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>
                                        样品名称：<span id="lblSampleNameSecond"></span>
                                    </h4>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <h4>
                                        样品数量：<span id="lblSampleNumSecond"></span>
                                    </h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <label for="tbxContent">样品技术要求</label>
                                <script id="editor" type="text/plain" style="height:300px;">
                                </script>
                            </div>
                            <table class="table table-condensed table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th colspan="5" class="text-center">
                                            送样委托单接收、回退、确认信息
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>序号</th>
                                        <th>操作人</th>
                                        <th>操作时间</th>
                                        <th>状态</th>
                                        <th>回退原因</th>
                                    </tr>
                                </thead>
                                <tbody id="tableCheckAuditSecond"></tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnSecondSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">文件上传</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <form id="UploadForm" method="post" enctype="multipart/form-data">
                            <input id="UploadInfoID" name="UploadInfoID" class="hidden" type="text" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="uploadFile">上传文件<span class="text-danger">(必填)</span></label>
                                        <input id="uploadFile" name="uploadFile" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnUploadFileSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditTenderDateModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">修改招标开始时间</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal" id="PanelEditTenderDate">
                        <form id="EditTenderDateForm" method="post" enctype="multipart/form-data">
                            <input id="EditTenderDateInfoID" name="EditTenderDateInfoID" class="hidden" type="text" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="callout callout-info">
                                        <p>原招标开始时间</p>
                                        <h4 id="lblOldTenderStartDate"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxEditTenderDate">修改招标开始时间<span class="text-danger">(必填)</span></label>
                                        <input type="text" class="form-control date" id="tbxEditTenderDate" name="tbxEditTenderDate" placeholder="修改招标开始时间">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tbxEditTenderDateReason">修改原因<span class="text-danger">(必填)</span></label>
                                        <textarea id="tbxEditTenderDateReason" name="tbxEditTenderDateReason" class="form-control" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="editTenderDateFile">说明文件<span class="text-danger">(必填)</span></label>
                                        <input type="file" class="form-control" id="editTenderDateFile" name="editTenderDateFile" placeholder="修改招标开始时间说明文件">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="editLog">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr class="bg-success">
                                    <th>序号</th>
                                    <th>操作人</th>
                                    <th>操作时间</th>
                                    <th>内容</th>
                                    <th>修改说明</th>
                                    <th>回退原因</th>
                                    <th>说明文件</th>
                                </tr>
                            </thead>
                            <tbody id="editTenderDateLogTable"></tbody>
                        </table>
                    </div>
                    <div class="row" id="panelLeadersCheckBackReason">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxLeadersCheckBackReason">回退原因<span class="text-danger"></span></label>
                                <textarea id="tbxLeadersCheckBackReason" name="tbxLeadersCheckBackReason" class="form-control" rows="2" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnEditTenderDateSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 提交
                    </button>
                    <button type="button" id="btnChangeTenderDateBackSubmit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> 回退
                    </button>
                    <button type="button" id="btnChangeTenderDateOkSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 同意
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">送样委托单</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <span id="lblSampleDelegationIDShow" class="hidden"></span>
                        <div class="row">
                            <div class="col-md-5">
                                <h5>样品名称：<span id="lblSampleNameShow"></span></h5>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <h5>样品数量：<span id="lblSampleNumShow"></span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <h5>招标负责人：<span id="lblProjectResponsiblePersonNameShow"></span></h5>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <h5>技术接收人：<span id="lblAcceptPersonNameShow"></span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <h5>开标时间：<span id="lblStartTenderDateShow"></span></h5>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">检验技术要求</div>
                            <div class="panel-body">
                                <div id="lblSampleTechnicalRequirementShow"></div>
                            </div>
                        </div>
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="success">
                                    <th colspan="5" class="text-center">
                                        送样委托单接收、回退、确认信息
                                    </th>
                                </tr>
                                <tr>
                                    <th>序号</th>
                                    <th>操作人</th>
                                    <th>操作时间</th>
                                    <th>状态</th>
                                    <th>回退原因</th>
                                </tr>
                            </thead>
                            <tbody id="tableCheckAudit"></tbody>
                        </table>
                        <div class="row" id="panelBackReason">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="tbxBackReason">回退原因</label>
                                    <textarea id="tbxBackReason" name="tbxBackReason" class="form-control" rows="2" cols="20"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnAuditBackSubmit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> 回退
                    </button>
                    <button type="button" id="btnAuditOkSubmit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> 接收
                    </button>
                    <button type="button" id="btnAuditLeaderSubmit" class="btn btn-success">
                        <i class="glyphicon glyphicon-ok"></i> 确认
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">招标样品检测信息管理</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Partial("SearchInfo")
        <hr />
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("一次编码表录入"))
                {
                    <div id="toolbar" class="btn-group">
                        <button id="btnAdd" type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                        </button>
                    </div>
                }
                @Html.Partial("TableInfo")
            </div>
        </div>
    </div>
</div>
<span id="userRole" class="hidden">@ViewBag.PageRole</span>

<script>
    $(function () {
        var ue = UE.getEditor('editor');

        //加载项目负责人列表
        GetProjectResponsiblePersonList("search");
        function GetProjectResponsiblePersonList(type) {
            $.post("/SampleDelegation/GetSampleResponsiblePersonList", "", function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<option value='" + valueOfElement.UserID + "'>" + valueOfElement.UserName + "</option>";
                });
                if (type === "search") {
                    $("#ddlProjectResponsiblePersonSearch").append(list);
                }
                else {
                    $("#ddlProjectResponsiblePerson").empty().append(list);
                }
            });
        }

        //加载技术处接收人员列表
        function GetAcceptUserList() {
            $.post("/SampleDelegation/GetAcceptPersonList", "", function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<option value='" + valueOfElement.UserID + "'>" + valueOfElement.UserName + "</option>";
                });
                $("#ddlSampleDelegationAcceptPerson").empty().append(list);
            });
        }

        //清空FirstCodeModal表单函数
        function clearFirstModal() {
            $("FirstForm input").val("");
            $("label.error").hide();
            $(".error").removeClass("error");
        }

        $("#tbxStartTenderDate,#tbxEditTenderDate").datetimepicker({
            language: 'zh-CN',
            //weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: true,
            minView: 0,
            forceParse: 0,
            format: 'yyyy-mm-dd hh:ii'
        });

        //新增按钮
        $("#btnAdd").click(function () {
            clearFirstModal();
            GetAcceptUserList("modal");
            GetProjectResponsiblePersonList();
            $('#FirstModal').modal('show');
        });

        //对FirstForm表单进行前端验证
        var validFirstForm = $("#FirstForm").validate({
            rules: {
                tbxSampleName: { required: true, maxlength: 100 },
                tbxStartTenderDate: { required: true, maxlength: 20 },
                tbxSampleNum: { required: true, number: true }
            }
        });

        //对EditTenderDate表单进行前端验证
        var validEditTenderDate = $("#EditTenderDateForm").validate({
            rules: {
                tbxEditTenderDate: { required: true },
                tbxEditTenderDateReason: { required: true },
                editTenderDateFile: { required: true }
            }
        });

        //对UploadForm表单进行前端验证
        var validUploadForm = $("#UploadForm").validate({
            rules: {
                uploadFile: { required: true }
            }
        });

        //添加送样委托提交按钮
        $("#btnFirstSubmit").click(function () {
            if (validFirstForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#FirstForm").ajaxSubmit({
                            url: "/SampleDelegation/Insert",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FirstModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                            },
                            error: function (error) {
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });

        //技术要求提交按钮
        $("#btnSecondSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var id = $("#secondInfoID").val();
                    var content = UE.getEditor("editor").getContent();
                    var args = { "id": id, "content": content };
                    $.post("/SampleDelegation/UpdateSampleTechnicalRequirement", encodeURIComponent(JSON.stringify(args)), function (result) {
                        if (result === "ok") {
                            $("#SecondModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            if (result === "errorTime") {
                                $("#EditTenderDateModal").modal("hide");
                                toastr.error("超过开标时间，不能操作！", "提示");
                            }
                            else {
                                $("#SecondModal").modal("hide");
                                toastr["error"](result, "提示");
                            }
                        }
                    });
                }
            });
        });

        //修改招标开始时间提交按钮
        $("#btnEditTenderDateSubmit").click(function () {
            if (validEditTenderDate.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#EditTenderDateForm").ajaxSubmit({
                            url: "/SampleDelegation/EditTenderStartDate",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#EditTenderDateModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                                if (result === "errorTime") {
                                    $("#EditTenderDateModal").modal("hide");
                                    toastr.error("超过开标时间，不能修改开标时间", "提示");
                                }
                            },
                            error: function (error) {
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });

        //文件上传提交按钮
        $("#btnUploadFileSubmit").click(function () {
            if (validUploadForm.form()) {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#UploadForm").ajaxSubmit({
                            url: "/SampleDelegation/UploadFile",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#UploadModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    $("#bsTable").bootstrapTable('refresh');
                                }
                                if (result === "errorTime") {
                                    $("#UploadModal").modal("hide");
                                    toastr.error("超过开标时间，不能上传文件", "提示");
                                }
                            },
                            error: function (error) {
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });

        //质检接收提交按钮
        $("#btnAuditOkSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var id = $("#lblSampleDelegationIDShow").text();
                    var args = { "id": id };
                    $.post("/SampleDelegation/AuditOk", encodeURIComponent(JSON.stringify(args)), function (result) {
                        if (result === "ok") {
                            $("#ShowModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            $("#ShowModal").modal("hide");
                            toastr["error"](result, "提示");
                        }
                    });
                }
            });
        });

        //质检回退提交按钮
        $("#btnAuditBackSubmit").click(function () {
            var reason = $("#tbxBackReason").val();
            if (reason.trim() === "") {
                toastr.error("回退原因不能为空！", "提示");
            }
            else {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var id = $("#lblSampleDelegationIDShow").text();
                        var args = { "id": id, "reason": reason };
                        $.post("/SampleDelegation/AuditBack", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                $("#ShowModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                $("#ShowModal").modal("hide");
                                toastr["error"](result, "提示");
                            }
                        });
                    }
                });
            }
        });

        //质检领导确认提交按钮
        $("#btnAuditLeaderSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var id = $("#lblSampleDelegationIDShow").text();
                    var args = { "id": id };
                    $.post("/SampleDelegation/AuditLeader", encodeURIComponent(JSON.stringify(args)), function (result) {
                        if (result === "ok") {
                            $("#ShowModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            $("#ShowModal").modal("hide");
                            toastr["error"](result, "提示");
                        }
                    });
                }
            });
        });

        //开标时间修改同意
        $("#btnChangeTenderDateOkSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var id = $("#EditTenderDateInfoID").val();
                    var args = { "id": id };
                    //console.log(args);
                    $.post("/SampleDelegation/ChangeTenderDateOk", encodeURIComponent(JSON.stringify(args)), function (result) {
                        if (result === "ok") {
                            $("#EditTenderDateModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            $("#EditTenderDateModal").modal("hide");
                            toastr["error"](result, "提示");
                            console.log(result);
                        }
                    });
                }
            });
        });

        //开标时间修改回退
        $("#btnChangeTenderDateBackSubmit").click(function () {
            var reason = $("#tbxLeadersCheckBackReason").val();
            if (reason.trim() === "") {
                toastr.error("回退原因不能为空！", "提示");
            }
            else {
                Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var id = $("#EditTenderDateInfoID").val();
                        var args = { "id": id, "reason": reason };
                        $.post("/SampleDelegation/ChangeTenderDateBack", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                $("#EditTenderDateModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                $("#EditTenderDateModal").modal("hide");
                                toastr["error"](result, "提示");
                            }
                        });
                    }
                });
            }
        });
    });
</script>

