<table id="bsTable"></table>
<script>
    $(function () {
        var pageRole = $("#userRole").text();

        var operateEvents = {
            'click .edit': function (e, value, row, index) {
                if (row.sampleDelegation.SampleDelegationState === "技术要求录入" || row.sampleDelegation.SampleDelegationState === "质检接收回退") {
                    if (pageRole === "二次编码表录入") {
                        UE.getEditor("editor").setContent("");
                        $("#lblSampleNameSecond").text(row.sampleDelegation.SampleName);
                        $("#lblSampleNumSecond").text(row.sampleDelegation.SampleNum);
                        $('#SecondModal').modal('show');
                        $("#secondInfoID").val(row.sampleDelegation.SampleDelegationID);
                        UE.getEditor("editor").setContent(row.sampleDelegation.SampleTechnicalRequirement);

                        var args = { "id": row.sampleDelegation.SampleDelegationID };
                        $.post("/SampleDelegation/GetAuditLog", encodeURIComponent(JSON.stringify(args)), function (result) {
                            var list = "";
                            $.each(result, function (indexInArray, val) {
                                list += "<tr>";
                                list += "<td>" + (indexInArray + 1) + "</td>";
                                list += "<td>" + val.InputPersonName + "</td>";
                                list += "<td>" + getJsonDateTime(val.InputDateTime) + "</td>";
                                list += "<td>" + val.LogContent + "</td>";
                                list += "<td>" + val.LogReason + "</td>";
                                list += "</tr>";
                            });
                            $("#tableCheckAuditSecond").empty().append(list);
                        });
                    }
                    else {
                        toastr.error("只有技术处人员可执行二次编码表录入操作！", "提示");
                    }
                }
                if (row.sampleDelegation.SampleDelegationState === "二次编码表上传完成") {
                    if (pageRole == "检验报告录入") {
                        $("#checkReportFile").val("");
                        $("label.error").hide();
                        $(".error").removeClass("error");

                        $('#CheckReportModal').modal('show');
                        $("#lblSampleDelegationFileName").text(row.sampleDelegation.SampleDelegationFileName).attr("href", "/FileUpload/" + row.sampleDelegation.SampleDelegationFileNameOne);
                        $("#CheckReportInfoID").val(row.sampleDelegation.SampleDelegationID);
                    }
                    else {
                        toastr.error("只有质检人员可执行检验报告录入操作！", "提示");
                    }
                }
                if (row.sampleDelegation.SampleDelegationState === "检验报告上传完成") {
                    toastr.error("流程已结束！", "提示");
                }
            },
            'click .show': function (e, value, row, index) {
                $('#ShowModal').modal('show');
                $("#lblSampleDelegationIDShow").text(row.sampleDelegation.SampleDelegationID);//加载ID
                $("#lblSampleNameShow").text(row.sampleDelegation.SampleName);
                $("#lblSampleNumShow").text(row.sampleDelegation.SampleNum);
                $("#lblProjectResponsiblePersonNameShow").text(row.sampleDelegation.ProjectResponsiblePersonName);
                $("#lblAcceptPersonNameShow").text(row.sampleDelegation.SampleDelegationAcceptPersonName);
                $("#lblStartTenderDateShow").text(getJsonDateTimeMinute(row.sampleDelegation.StartTenderDate));
                $("#lblSampleTechnicalRequirementShow").html(row.sampleDelegation.SampleTechnicalRequirement);

                if (pageRole !== "检验报告录入") {
                    $("#panelBackReason,#btnAuditOkSubmit,#btnAuditBackSubmit").hide();
                }
                else {
                    if (row.sampleDelegation.SampleDelegationState !== "质检接收审核") {
                        $("#panelBackReason,#btnAuditOkSubmit,#btnAuditBackSubmit").hide();
                    }
                    else {
                        $("#panelBackReason,#btnAuditOkSubmit,#btnAuditBackSubmit").show();
                    }
                }

                if (pageRole !== "质检领导确认") {
                    $("#btnAuditLeaderSubmit").hide();
                }
                else {
                    if (row.sampleDelegation.SampleDelegationState !== "质检领导确认") {
                        $("#btnAuditLeaderSubmit").hide();
                    }
                    else {
                        $("#btnAuditLeaderSubmit").show();
                    }
                }
                var args = { "id": row.sampleDelegation.SampleDelegationID };
                $.post("/SampleDelegation/GetAuditLog", encodeURIComponent(JSON.stringify(args)), function (result) {
                    var list = "";
                    $.each(result, function (indexInArray, val) {
                        var logReason = val.LogReason === null ? "" : val.LogReason;
                        list += "<tr>";
                        list += "<td>" + (indexInArray + 1) + "</td>";
                        list += "<td>" + val.InputPersonName + "</td>";
                        list += "<td>" + getJsonDateTime(val.InputDateTime) + "</td>";
                        list += "<td>" + val.LogContent + "</td>";
                        list += "<td>" + logReason + "</td>";
                        list += "</tr>";
                    });
                    $("#tableCheckAudit").empty().append(list);
                });
            }
        };

        var UploadEvents = {
            'click .upload': function (e, value, row, index) {
                $('#UploadModal').modal('show');
                $("#uploadFile").val("");
                $("#UploadInfoID").val(row.sampleDelegation.SampleDelegationID);
            }
        };

        var editTenderStartDateEvents = {
            'click .editTenderDate': function (e, value, row, index) {
                //清空表单
                $("#tbxEditTenderDate,#tbxEditTenderDateReason,#editTenderDateFile").val("");
                $("label.error").hide();
                $(".error").removeClass("error");

                //加载招标修改时间过程
                $.post("/SampleDelegation/GetEditTenderDateLog", { "id": row.sampleDelegation.SampleDelegationID }, function (result) {
                    var list = "";
                    $.each(result, function (indexInArray, val) {
                        //console.log(val.LogReason);
                        var logReason = val.LogReason === null ? "" : val.LogReason;
                        var backReason = val.Col4 === null ? "" : val.Col4;
                        var logFile = val.Col1 === null ? "" : "下载";
                        list += "<tr>";
                        list += "<td>" + (indexInArray + 1) + "</td><td>" + val.InputPersonName + "</td><td>" + getJsonDateTime(val.InputDateTime) + "</td><td>" + val.LogContent + "</td>";
                        list += "<td>" + logReason + "</td>";
                        list += "<td>" + backReason + "</td>";
                        list += "<td><a target='_blank' href='" + val.Col1 + "'>" + logFile + "</a></td>";
                        list += "</tr>";
                    });
                    $("#editTenderDateLogTable").empty().append(list);
                });

                //加载数据ID和原开标时间
                $("#lblOldTenderStartDate").text(getJsonDateTimeMinute(row.sampleDelegation.StartTenderDate));
                $("#EditTenderDateInfoID").val(row.sampleDelegation.SampleDelegationID);
                $('#EditTenderDateModal').modal('show');


                //招标业务员
                //如果开标时间修改状态为“修改中”，隐藏表单和提交按钮，否则显示
                //招标科长
                //如果开标时间修改状态为“修改中”，显示审批按钮、回退原因，否则隐藏。
                if (row.sampleDelegation.ChangeStartTenderDateState === "修改中") {
                    //如果招标科长查看，隐藏表单和修改提交按钮
                    if (pageRole === "一次编码表录入") {
                        $("#PanelEditTenderDate,#btnEditTenderDateSubmit").hide();
                        $("#btnChangeTenderDateBackSubmit,#btnChangeTenderDateOkSubmit,#panelLeadersCheckBackReason").show();
                    }
                    //如果招标业务员查看，隐藏审批按钮、回退原因输入框
                    if (pageRole === "样品检测业务员查看") {
                        $("#btnChangeTenderDateBackSubmit,#btnChangeTenderDateOkSubmit,#panelLeadersCheckBackReason").hide();
                        $("#PanelEditTenderDate,#btnEditTenderDateSubmit").hide();
                    }
                    //$("#btnChangeTenderDateBackSubmit,#btnChangeTenderDateOkSubmit,#panelLeadersCheckBackReason").show();
                }
                else {
                    if (pageRole === "一次编码表录入") {
                        $("#btnChangeTenderDateBackSubmit,#btnChangeTenderDateOkSubmit,#panelLeadersCheckBackReason").hide();
                        $("#PanelEditTenderDate,#btnEditTenderDateSubmit").hide();
                    }
                    //如果招标业务员查看，隐藏审批按钮、回退原因输入框
                    if (pageRole === "样品检测业务员查看") {
                        $("#btnChangeTenderDateBackSubmit,#btnChangeTenderDateOkSubmit,#panelLeadersCheckBackReason").hide();
                        $("#PanelEditTenderDate,#btnEditTenderDateSubmit").show();
                    }
                }

            }
        };

        var delEvents = {
            'click .del': function (e, value, row, index) {
                Ewin.confirm({ message: "确定要删除吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": row.sampleDelegation.SampleDelegationID };
                        $.post("/SampleDelegation/Del", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                if (result === "errorTime") {
                                    toastr.error("超过开标时间，不能进行操作！", "提示");
                                }
                                else {
                                    toastr.error(result, "提示");
                                }
                            }
                        });
                    }
                });
            }
        };

        var SetAllErrorEvents = {
            'click .SetError': function (e, value, row, index) {
                Ewin.confirm({ message: "确定要操作吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": row.sampleDelegation.SampleDelegationID };
                        
                        $.post("/SampleDelegation/SetCheckFileAllError", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                if (result === "errorTime") {
                                    toastr.error("超过开标时间，不能进行操作！", "提示");
                                }
                                else {
                                    toastr.error(result, "提示");
                                }
                            }
                        });
                    }
                });
            },
            'click .ResetError': function (e, value, row, index) {
                Ewin.confirm({ message: "确定要操作吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": row.sampleDelegation.SampleDelegationID };
                        $.post("/SampleDelegation/ResetCheckFileAllError", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                if (result === "errorTime") {
                                    toastr.error("超过开标时间，不能进行操作！", "提示");
                                }
                                else {
                                    toastr.error(result, "提示");
                                }
                            }
                        });
                    }
                });
            }
        };

        var checkFileEvents = {
            'click .DelCheckFile': function (e, value, row, index) {
                var id = $(this).attr("data-id");
                Ewin.confirm({ message: "确定要删除吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": id };
                        $.post("/SampleDelegation/DelCheckFile", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                if (result === "errorTime") {
                                    toastr.error("超过开标时间，不能删除检验报告文件", "提示");
                                }
                                else {
                                    console.log(result);
                                    toastr.error(result, "提示");
                                }
                            }
                        });
                    }
                });
            }
        };

        function loadColumns() {
            var tempArray = [
                {
                    title: '序号',
                    align: "center",
                    valign: "middle",
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'sampleDelegation.SampleDelegationID',
                    title: '数据ID',
                    valign: "middle",
                    visible: false
                },
                {
                    title: '文件上传',
                    formatter: function (value, row, index) {
                        if (pageRole === "检验报告录入") {
                            if (row.sampleDelegation.SampleDelegationState !== "检验报告上传") {
                                return "";
                            }
                        }
                        return '<a class="upload" href="javascript: void (0)" title="上传">上传</a>';
                    },
                    valign: "middle",
                    align: "center",
                    events: UploadEvents
                },
                {
                    title: '删除',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        switch (pageRole) {
                            case "一次编码表录入":
                                return '<a class="del" href="javascript: void (0)" title="删除"><i class="glyphicon glyphicon-trash"></i></a>';
                        }
                    },
                    align: "center",
                    events: delEvents
                },
                {
                    field: 'sampleDelegation.ChangeStartTenderDateState',
                    valign: "middle",
                    title: '开标时间修改状态'
                },
                {
                    field: 'sampleDelegation.CheckResultAllError',
                    valign: "middle",
                    title: '全否状态',
                    formatter: function (value, row, index) {
                        if (pageRole === "检验报告录入") {
                            if (row.sampleDelegation.CheckResultAllError === "全否") {
                                return '<a class="ResetError" href="javascript: void (0)" title="取消全否">取消全否</a>';
                            }
                            else {
                                return '<a class="SetError" href="javascript: void (0)" title="设置全否">设置全否</a>';
                            }
                        }
                        else {
                            return value;
                        }
                    },
                    align: "center",
                    events: SetAllErrorEvents
                },
                {
                    field: 'sampleDelegation.SampleName',
                    title: '送样委托单',
                    valign: "middle",
                    visible: true,
                    formatter: function (value, row, index) {
                        switch (pageRole) {
                            case "一次编码表录入":
                                return '<a class="show" href="javascript: void (0)" title="查看">' + value + '</a>';
                            case "二次编码表录入":
                                if (row.sampleDelegation.SampleDelegationState === "技术要求录入" || row.sampleDelegation.SampleDelegationState === "质检接收回退") {
                                    return '<a class="edit" href="javascript: void (0)" title="编辑">' + value + '</a>';
                                }
                                else {
                                    return '<a class="show" href="javascript: void (0)" title="查看">' + value + '</a>';
                                }
                            case "检验报告录入":
                                return '<a class= "show" href="javascript: void (0)" title="查看">' + value + '</a>';
                            case "样品检测业务员查看":
                                return '<a class= "show" href="javascript: void (0)" title="查看">' + value + '</a>';
                            case "质检领导确认":
                                return '<a class= "show" href="javascript: void (0)" title="查看">' + value + '</a>';
                        }
                    },
                    events: operateEvents
                },
                {
                    field: 'sampleDelegation.SampleNum',
                    valign: "middle",
                    title: '样品数量'
                },
                {
                    field: 'sampleDelegation.StartTenderDate',
                    title: '开标时间',
                    valign: "middle",
                    visible: true,
                    cellStyle: function (value, row, index) {
                        return {
                            classes: "text-nowrap"
                        };
                    },
                    formatter: function (value, row, index) {
                        var milliseconds = parseInt(value.replace(/\D/igm, ""));
                        var date = new Date(milliseconds);
                        var dateInfo = date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate() + '日 ' + date.getHours() + ":" + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes());
                        if (pageRole === "一次编码表录入" || pageRole === "样品检测业务员查看") {
                            return '<a class="editTenderDate" href="javascript: void (0)" title="修改招标开始时间">' + dateInfo + '</a>';
                        }
                        else {
                            return dateInfo;
                        }
                    },
                    events: editTenderStartDateEvents
                },
                {
                    field: 'sampleDelegation.SampleDelegationState',
                    title: '进度',
                    valign: "middle",
                    visible: true,
                    width: 100,
                    formatter: function (value, row, index) {
                        switch (value) {
                            case "技术要求录入":
                                return "<span class='label label-warning'>技术要求录入</span>";
                            case "质检接收审核":
                                return "<span class='label label-primary'>质检接收审核</span>";
                            case "质检领导确认":
                                return "<span class='label label-default'>质检领导确认</span>";
                            case "质检接收回退":
                                return "<span class='label label-danger'>质检接收回退</span>";
                            case "检验报告上传":
                                return "<span class='label label-success'>检验报告上传</span>";
                        }
                    }
                },
                {
                    field: 'sampleDelegation.ProjectResponsiblePersonName',
                    title: '招标负责人',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        var person = "<a href='#' data-toggle='tooltip' data-placement='top' title='电话：" + row.sampleDelegation.ProjectResponsiblePersonPhone + "'>" + value + "</a>";
                        return person;
                    }
                },
                {
                    field: 'sampleDelegation.SampleDelegationAcceptPersonName',
                    title: '技术接收人',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        var person = "<a href='#' data-toggle='tooltip' data-placement='top' title='电话：" + row.sampleDelegation.SampleDelegationAcceptPersonPhone + "'>" + value + "</a>";
                        return person;
                    }
                },
                {
                    field: 'sampleDelegation.InputPersonName',
                    title: '送样委托提交人员',
                    valign: "middle",
                    visible: false
                },
                {
                    field: 'sampleDelegation.InputDateTime',
                    title: '送样委托提交时间',
                    valign: "middle",
                    visible: false,
                    formatter: function (value, row, index) {
                        return getJsonDateTime(value);
                    }
                },
                {
                    field: 'sampleDelegation.FirstCodingFileName',
                    title: '一次编码表',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        if (value !== null) {

                            return "<a target='_blank' href='/FileUpload/" + value + "'>" + value + "</a>";
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    field: 'sampleDelegation.FirstCodingInputDate',
                    title: '一次编码表上传时间',
                    valign: "middle",
                    visible: false,
                    formatter: function (value, row, index) {
                        if (row.sampleDelegation.FirstCodingInputDate === null) {
                            return "";
                        }
                        else {
                            return getJsonDateTime(row.sampleDelegation.FirstCodingInputDate);
                        }
                    }
                },
                {
                    field: 'sampleDelegation.SecondCodingFileName',
                    title: '二次编码表',
                    valign: "middle",
                    formatter: function (value, row, index) {
                        return "<a target='_blank' href='/FileUpload/" + value + "'>" + (value === null ? "" : value) + "</a>";
                    }
                },
                {
                    field: 'sampleDelegation.SecondCodingInputDate',
                    title: '二次编码表上传时间',
                    valign: "middle",
                    visible: false,
                    formatter: function (value, row, index) {
                        return getJsonDateTime(row.sampleDelegation.SecondCodingInputDate);
                    }
                },
                {
                    field: 'sampleDelegation.CheckReportFileName',
                    title: '检验报告',
                    cellStyle: function (value, row, index) {
                        return {
                            css: { "padding": "0px", "vertical-align": "top" },
                            classes: "text-nowrap"
                        };
                    },
                    formatter: function (value, row, index) {
                        var list = "<table class='table table-condensed table-hover'>";
                        if (pageRole === "检验报告录入") {
                            if (row.checkReportFile !== null) {
                                $.each(row.checkReportFile, function (indexInArray, valueOfElement) {
                                    list += "<tr>";
                                    list += "<td><button class='DelCheckFile btn btn-danger btn-xs' data-id='" + valueOfElement.CheckReportFileID + "'><span class='glyphicon glyphicon-remove'></span></button>";
                                    list += "&nbsp;&nbsp;|&nbsp;&nbsp;<a target='_blank' href='/FileUpload/" + valueOfElement.CheckReportFileName + "'>" + (valueOfElement.CheckReportFileName === null ? "" : valueOfElement.CheckReportFileName) + "</a></td>";
                                    list += "</tr>";
                                });
                            }
                        }
                        else {
                            if (row.checkReportFile !== null) {
                                $.each(row.checkReportFile, function (indexInArray, valueOfElement) {
                                    list += "<tr>";
                                    list += "<td><a target='_blank' href='/FileUpload/" + valueOfElement.CheckReportFileName + "'>" + (valueOfElement.CheckReportFileName === null ? "" : valueOfElement.CheckReportFileName) + "</a></td>";
                                    list += "</tr>";
                                });
                            }
                        }
                        list += "</table>";
                        return list;
                    },
                    events: checkFileEvents
                }];
            console.log(tempArray);
            switch ($("#userRole").text()) {
                case "检验报告录入":
                    return $.grep(tempArray, function (ele, index) {
                        return index !== 3 && index !== 4 && index !== 14 && index !== 15 && index !== 16 && index !== 17;
                    });
                case "质检领导确认":
                    return $.grep(tempArray, function (ele, index) {
                        return index !== 2 && index !== 3 && index !== 14 && index !== 15 && index !== 16 && index !== 17;
                    });
                case "二次编码表录入":
                    return $.grep(tempArray, function (ele, index) {
                        return index !== 3 && index !== 14 && index !== 15;
                    });
                case "样品检测业务员查看":
                    return $.grep(tempArray, function (ele, index) {
                        return index !== 4 && index !== 3 && index !== 2;
                    });
                case "一次编码表录入":
                    return $.grep(tempArray, function (ele, index) {
                        return index !== 16 && index !== 17;
                    });
            }
        }

        var columns = loadColumns();

        //初始化BS-Table
        $('#bsTable').bootstrapTable({
            url: '/SampleDelegation/GetList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,           //传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "SampleDelegationID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns,
            fixedColumns: false,
            fixedNumber: 4
        })
            .on('all.bs.table', function (e, name, args) {
                $('[data-toggle="tooltip"]').tooltip();
            });
    });
</script>
